# config files
.env.prod
/.env.local
/.env.local.php
/.env.*.local

# exclude docker env data
/docker/services/

# cache files
/config/secrets/prod/prod.decrypt.private.php
/public/bundles/
/var/

# composer files
/vendor/
composer.lock

# node files
/node_modules/
/public/build/
npm-debug.log
yarn-error.log
package-lock.json

# phpunit
.phpunit.result.cache
