<!DOCTYPE html>
<html>
<head>
    <title>Code paste</title>
    <script src="/build/vendor/jquery/jquery_3.2.0.min.js"></script>
    <link rel="icon" href="/build/img/favicon.png" type="image/x-icon"/>
    <link rel="stylesheet" href="/build/css/paste-add.css">
    <script>
        function save() {
            var name = "";
            var possible = "ABCDEFGHIJKLMNOPQRSTUVWXYZabcdefghijklmnopqrstuvwxyz0123456789";
            for (var i = 0; i < 15; i++) {
                name += possible.charAt(Math.floor(Math.random() * possible.length));
            }
            $("#file").val(name);
            $.ajax({
                url: '/paste',
                type: 'post',
                data: $('#form').serialize(),
                success: function () {
                    window.open("/paste/view/" + name, "_self");
                }
            })
        }
        $(window).bind('keydown', function (event) {
            if (event.ctrlKey || event.metaKey) {
                switch (String.fromCharCode(event.which).toLowerCase()) {
                    case 's':
                        event.preventDefault();
                        save();
                    break;
                }
            }
        });
    </script>
</head>
<body>
    <a class="icon" onclick="save();">
        <img src="/build/img/pasteSave.svg">
    </a>
    <form action="/paste" method="post" id="form">
        <input type="hidden" name="file" value="" id="file">
        <textarea autocomplete="off" autocorrect="off" autocapitalize="off" spellcheck="false" id="text" name="data" maxlength="30000"></textarea>
    </form>
</body>
</html>
