<!DOCTYPE html>
<html>
<head>
    <title>Code paste</title>
    <link rel="icon" href="/build/img/favicon.png" type="image/x-icon"/>    
    <script type="text/javascript" src="/build/js/highlight.min.js"></script>
    <script src="/build/js/highlight.min.jshighlightjs-line-numbers.min.js"></script>
    <script>
        hljs.highlightAll();
        hljs.initLineNumbersOnLoad();
    </script>
    <link rel="stylesheet" href="/build/css/atom-one-dark.css">
    <link rel="stylesheet" href="/build/css/paste-view.css">

    <title>Viewing {{file}}</title>
</head>
<body>
    <pre>
        <code>{{paste_content}}</code>
    </pre>
</body>
</html>
