{% extends 'common/bases/public-base.html.twig' %}

{% block header_class %} header-top {% endblock %}

{% block body %}
<section id="uploader" class="uploader section-show">
    <div class="container">
        <div class="section-title">
            <h2>Image uploader</h2>
        </div>
        <form action="/image/uploader" method="post" enctype="multipart/form-data">
            {% if error_msg != null %}
                <div class="error-message">{{error_msg}}</div>
            {% endif %}
            <div class="file-upload">
                <p class="form-title">Image upload</p>
                <div class="image-upload-wrap">
                    <input class="file-upload-input" type="file" name="userfile" onchange="readURL(this);" accept="image/*">
                    <div class="drag-text">
                        <h3>Drag/drop or select image</h3>
                    </div>
                </div>
                <div class="file-upload-content">
                    <img class="file-upload-image" src="#" alt="your image">
                    <div class="image-title-wrap">
                        <button type="button" onclick="removeUpload()" class="remove-image">Remove <span class="image-title">Uploaded Image</span></button>
                    </div>
                </div><br>
                <input class="file-upload-btn" type="submit" value="Upload Image" name="submitUpload">
            </div>
        </form>
    </div>
</section>
<script src="/assets/js/image-uploader.js"></script>
{% endblock %}
