{% extends 'common/bases/admin-base.html.twig' %}

{% block title %}
    chat
{% endblock %}

{% block component %}
<div class="admin-panel chat-page">
    <div class="chat-panel">
        <h2>Chat</h2>
        <div id="chat">
            <div id="messages"></div>
        </div>
        <div class="input-container">
            <input type="text" id="message" placeholder="message" maxlength="512">
            <button id="send">Send</button>
        </div>
    </div>
    <div class="user-panel">
        <h2>User List (online)</h2>
        <ul>
            {% for user in online_users %}
                {% if user.role == 'Owner' or user.role == 'Admin' %}
                    <li class="user-name text-red">{{ user.username|e }}</li>
                {% elseif user.role == 'User' %}
                    <li class="user-name green-text">{{ user.username|e }}</li>
                {% else %}
                    <li class="user-name text-white" >{{ user.username|e }}</li>
                {% endif %}
            {% endfor %}
        </ul>
    </div>
</div>
<style>
    .admin-panel {
        display: flex;
        overflow: hidden !important;
    }
</style>
{{ encore_entry_script_tags('admin-chat-js') }}
{% endblock %}
