{% extends 'common/bases/admin-base.html.twig' %}

{% block title %}
    diagnostic
{% endblock %}

{% block component %}
<div class="admin-panel">
    <div class="card-phone card diag-card-phone text-white mb-3 diagnostic-card">
        <div class="card-header diagnostics-large-title">System diagnostics</div>
        <div class="card-body diagnostics-large">
            {# <===== system requirements check =====> #}
            {% if not_installed_requirements|length != 0 %}
                <p class="card-text">
                    <span class="text-warning">
                        <span class="text-red">
                            <i class="fa fa-exclamation-triangle"></i> 
                        </span>
                        Not found requirements: {{ not_installed_requirements|join(', ') }}
                    </span>
                </p>
            {% else %}
                <p class="card-text">
                    <span class="text-warning">
                        <span class="text-light-green">
                            <i class="fa fa-check"></i> 
                        </span>
                        All requirements is installed
                    </span>
                </p>
            {% endif %}
            
            {# <===== linux system check =====> #}
            {% if is_system_linux == false %}
                <p class="card-text">
                    <span class="text-warning">
                        <span class="text-red">
                            <i class="fa fa-exclamation-triangle"></i> 
                        </span>
                        unsupported host system was detected, it is possible that some components will not be functional, please consider using a linux system
                    </span>
                </p>
            {% else %}
                <p class="card-text">
                    <span class="text-warning">
                        <span class="text-light-green">
                            <i class="fa fa-check"></i> 
                        </span>
                        Linux system detected
                    </span>
                </p>
            {% endif %}

            {# <===== drive usage check =====> #}
            {% if drive_usage > 89 %}
                <p class="card-text">
                    <span class="text-warning">
                        <span class="text-red">
                            <i class="fa fa-exclamation-triangle"></i> 
                        </span>
                        main storage is full, please delete some unnecessary data or increase disk space
                    </span>
                </p>
            {% else %}
                <p class="card-text">
                    <span class="text-warning">
                        <span class="text-light-green">
                            <i class="fa fa-check"></i> 
                        </span>
                        there is enough storage space on the disk
                    </span>
                </p>
            {% endif %}
            
            {# <===== cpu usage check =====> #}
            {% if cpu_usage > 98.00 %}
                <p class="card-text">
                    <span class="text-warning">
                        <span class="text-red">
                            <i class="fa fa-exclamation-triangle"></i> 
                        </span>
                        CPU is overloaded, please check cpu usage
                    </span>
                </p>
            {% else %}
                <p class="card-text">
                    <span class="text-warning">
                        <span class="text-light-green">
                            <i class="fa fa-check"></i> 
                        </span>
                        CPU is at normal values and has additional processing power available
                    </span>
                </p>
            {% endif %}
            
            {# <===== ram usage check =====> #}
            {% if ram_usage > 99.00 %}
                <p class="card-text">
                    <span class="text-warning">
                        <span class="text-red">
                            <i class="fa fa-exclamation-triangle"></i> 
                        </span>RAM Memory is overloaded, please check usage
                    </span>
                </p>
            {% else %}
                <p class="card-text">
                    <span class="text-warning">
                        <span class="text-light-green">
                            <i class="fa fa-check"></i> 
                        </span>
                        RAM Memory is available
                    </span>
                </p>
            {% endif %}

            {# <===== web user permissions check =====> #}
            {% if is_web_user_sudo %}
                <p class="card-text">
                    <span class="text-warning">
                        <span class="text-light-green">
                            <i class="fa fa-check"></i> 
                        </span>
                        site permissions is root
                    </span>
                </p>
            {% else %}
                <p class="card-text">
                    <span class="text-warning">
                        <span class="text-red">
                            <i class="fa fa-exclamation-triangle"></i> 
                        </span>
                        Permissions error: please add "{{ web_service_username }} ALL=NOPASSWD: ALL" to /etc/sudoers
                    </span>
                </p>                
            {% endif %}
            
        </div>
    </div>

    <div class="card-phone card diag-card-phone text-white mb-3 diagnostic-card">
        <div class="card-header diagnostics-large-title">Website diagnostics</div>
        <div class="card-body diagnostics-large">
            {# <===== ssl check =====> #}
            {% if is_ssl == false %}
                <p class="card-text">
                    <span class="text-warning">
                        <span class="text-red">
                            <i class="fa fa-exclamation-triangle"></i> 
                        </span>
                        session is running on http [non secure connction] please contact web admin for fix it
                    </span>
                </p>
            {% else %}
                <p class="card-text">
                    <span class="text-warning">
                        <span class="text-light-green">
                            <i class="fa fa-check"></i> 
                        </span>
                        page is secured with https
                    </span>
                </p>
            {% endif %}
            
            {# <===== subdomain check =====> #}
            {% if is_www_subdomain %}
                <p class="card-text">
                    <span class="text-warning">
                        <span class="text-red">
                            <i class="fa fa-exclamation-triangle"></i> 
                        </span>
                        the page runs on a subdomain, please remove subdomain form config only like domain.name
                    </span>
                </p>
            {% else %}
                <p class="card-text">
                    <span class="text-warning">
                        <span class="text-light-green">
                            <i class="fa fa-check"></i> 
                        </span>
                        subdomain was not detected
                    </span>
                </p>
            {% endif %}
            
            {# <===== dev mode check =====> #}
            {% if is_dev_mode %}
                <p class="card-text">
                    <span class="text-warning">
                        <span class="text-red">
                            <i class="fa fa-exclamation-triangle"></i> 
                        </span>
                        developer mode is enabled, please set APP_ENV=prod in .env config file
                    </span>
                </p>
            {% else %}
                <p class="card-text">
                    <span class="text-warning">
                        <span class="text-light-green">
                            <i class="fa fa-check"></i> 
                        </span>
                        developer mode policy are OK
                    </span>
                </p>
            {% endif %}
            
            {# <===== maintenance check =====> #}
            {% if is_maintenance %}
                <p class="card-text">
                    <span class="text-warning">
                        <span class="text-red">
                            <i class="fa fa-exclamation-triangle"></i> 
                        </span>
                        public pages are unavailable for maintenance
                    </span>
                </p>
            {% else %}
                <p class="card-text">
                    <span class="text-warning">
                        <span class="text-light-green">
                            <i class="fa fa-check"></i> 
                        </span>
                        maintenance is disabled, page is available
                    </span>
                </p>
            {% endif %}
            
            {# <===== services list check =====> #}
            {% if is_services_list_exist == false %}
                <p class="card-text">
                    <span class="text-warning">
                        <span class="text-red">
                            <i class="fa fa-exclamation-triangle"></i> 
                        </span>
                        error to load file services-list.json in app root
                    </span
                </p>
            {% else %}
                <p class="card-text">
                    <span class="text-warning">
                        <span class="text-light-green">
                            <i class="fa fa-check"></i> 
                        </span>
                        services-list.json successfully loaded
                    </span>
                </p>
            {% endif %}
            
            {# <===== browser list check =====> #}
            {% if is_browser_list_exist == false %}
                <p class="card-text">
                    <span class="text-warning">
                        <span class="text-red">
                            <i class="fa fa-exclamation-triangle"></i> 
                        </span>
                        error to load file browser-list.json in app root
                    </span>
                </p>
            {% else %}
                <p class="card-text">
                    <span class="text-warning">
                        <span class="text-light-green">
                            <i class="fa fa-check"></i> 
                        </span>
                        browser-list.jsonsuccessfully loaded
                    </span>
                </p>
            {% endif %}
        </div>
    </div>
    <div class="buttom-spacer"></div>
</div>
{% endblock %}
