{% extends 'common/bases/admin-base.html.twig' %}

{% block title %}
    Send email
{% endblock %}

{% block component %}
<div class="admin-panel">
    {% if user_role != 'Owner' and user_role != 'Admin' %}
        <h2 class="page-title">Sorry, you don't have permission to access this page</h2>
    {% else %}
        <center>
            {% if status == 'success' %}
                <div class="alert alert-danger fade show" role="alert">
                    Your message has been sent <strong>successfully</strong>.
                </div>
            {% endif %}

            {{ form_start(form) }}
                <div class="email-send-form dark-table">
                    <h2 class="form-title">Send email</h2>
                    {{ form_widget(form) }}  
                    <button type="submit" class="btn btn-primary">Send Email</button>
                </div>
            {{ form_end(form) }}
        </center>
    {% endif %}
</div>
{% endblock %}
