{% extends 'common/bases/admin-base.html.twig' %}

{% block title %}
    terminal
{% endblock %}

{% block component %}
<div class="admin-panel">
    {% if user_role != 'Owner' and user_role != 'Admin' %}
        <h2 class="page-title">Sorry you dont have permission to this page</h2>
    {% else %}
        <div class="terminal-component">
            <div id="terminal">
                <pre id="output-container"></pre>
                <div id="command-container">
                    <div id="prompt-line">
                        <span id="user"></span><span class="color-white">:</span><span id="path"></span><span id="prompt" class="color-white">$</span>
                    </div>
                    <input type="text" id="command">
                </div>
            </div>
            {{ encore_entry_script_tags('admin-terminal') }}
        </div>
    {% endif %}
</div>
{% endblock %}
