{% extends 'common/bases/admin-base.html.twig' %}

{% block title %}
    Visitors
{% endblock %}

{% block component %}
<div class="admin-panel">
    <p class="text-light">stats</p>
</div>
{% endblock %}
