{% extends 'common/bases/error-base.html.twig' %}

{% block title %}
	{{ 'Error 403, Forbidden'|trans }}
{% endblock %}

{% block body %}
<p class="error-page-msg">
	<strong>
		{{ 'You do not have permission to access this page'|trans }}
		<br><br>
		{{ 'Please check the address bar or contact your administrator'|trans }}
	</strong>
</p>
{% endblock %}
