{% extends 'common/bases/error-base.html.twig' %}

{% block title %}
    {{ 'Error 429, Too Many Requests'|trans }}
{% endblock %}

{% block body %}
<p class="error-page-msg">
    <strong>
        {{ 'Too Many Requests'|trans }} 
        <br><br>
        {{ 'Please try to wait and try again later'|trans }}
    </strong>
</p>
{% endblock %}
