{% extends 'common/bases/auth-base.html.twig' %}

{% block component %}
<main class="login-page color-white">

    {# <===== REGISTER COMPONENT LINK =====> #}
    {% if is_users_empty %}
        <center>
            <div class="alert alert-danger alert-dismissible fade show" role="alert">
                Users table is empty<br>Please add admin user manually <strong/><a href="/register">here</a></strong>
            </div>
        </center>
    {% endif %}

    {# <===== ERROR MSG BOX =====> #}
    {% if error_msg != null %}
        <center>
            <div class="alert alert-danger alert-dismissible fade show" role="alert">
                <strong>Error</strong>: {{ error_msg }}
                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
        </center>
    {% endif %}

    {# <===== LOGIN FORM =====> #}
    <div class="login-form-pos-y login-form">
        <h2 class="login-form-title">URL dashboard</h2>
    
        {{ form_start(login_form) }}

            {{ form_widget(login_form) }}

            <div class="right-position" style="margin-right: 3px;">
                <button type="submit" class="input-button">Sign in</button>
            </div>

        {{ form_end(login_form) }}
    </div>
</main>
{% endblock %}
