{% extends 'common/bases/auth-base.html.twig' %}

{% block component %}
<main class="register-page color-white">
    {# <===== ERROR MSG BOX =====> #}
    {% if error_msg != null %}
        {% include "common/alerts/error-alert.html.twig" %}
    {% endif %}

    {# <===== REGISTER FORM =====> #}
    <div class="form-pos-y form">
        <h2 class="form-title">Register admin account</h2>
        
        {{ form_start(registration_form) }}

            {{ form_widget(registration_form) }}
            <div class="right-position mr-1">
                <button type="submit" class="input-button">Register</button>
            </div>

        {{ form_end(registration_form) }}
    </div>
</main>
{% endblock %}
