{% extends 'common/bases/auth-base.html.twig' %}

{% block component %}
<main class="register-page color-white">

    {# <===== ERROR MSG BOX =====> #}
    {% if error_msg != null %}
        <center>
            <div class="alert alert-danger alert-dismissible fade show" role="alert">
                <strong>Error</strong>: {{ error_msg }}
                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
        </center>
    {% endif %}

    {# <===== REGISTER FORM =====> #}
    <div class="login-form-pos-y login-form">
        <h2 class="login-form-title">Register admin account</h2>
        
        {{ form_start(registration_form) }}

            {{ form_widget(registration_form) }}
            <div class="right-position mr-1">
                <button type="submit" class="input-button">Register</button>
            </div>

        {{ form_end(registration_form) }}
    </div>
</main>
{% endblock %}
