* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

/*Custom scroolbar design (Not working on mobile divices)*/
::-webkit-scrollbar { /*Own page scroolbar design*/
	width: 10px;
} 

::-webkit-scrollbar-track { /*Own scroolbar bacground*/
	background: rgb(17, 17, 17);
}
 
::-webkit-scrollbar-thumb { /*Own scrollbar button*/
	background: #40444b;
	-webkit-transition: all 0.2s ease;
	transition: all 0.2s ease;
} 

::-webkit-scrollbar-thumb:hover { /*Own scrollbar button hover*/
	background: #5c646b;
}
/*End of Custom scrollBar*/

body {
    background-color: rgb(23, 23, 24);
	display: flex;
	justify-content: center;
	height: 100vh;
}

.container {
	position: absolute;
	height: 100%;
	width: 100%;
}

header {
    border-bottom: 1px solid #5c646b;
    background-color: rgb(36, 37, 39);
    padding: 5px;
    border: 1px solid #5c646b;
    margin: 5px;
    border-radius: 5px;
}

.name {
    font-size: 28px;
    font-weight: bold;
    color: white;
}

.role {
    font-size: 18px;
    color: rgb(236, 236, 125); 
}

.social-links {
    margin-top: 1px;
    padding: 2px;
    border-top: 1px solid #5c646b;
    padding-bottom: 0;
}

.social-link {
    color: white;
    text-decoration: none;
    font-size: 15px;
    margin-right: 5px;
}

.social-link:hover {
    color: rgb(255, 134, 134);
}

.icon {
    color: white;
}

.card {
    color: white;
    background-color: rgb(36, 37, 39);
    border-bottom: 1px solid #5c646b;
    padding: 6px;
    border: 1px solid #5c646b;
    margin: 8px;
    border-radius: 5px;
}

.card-title {
    color: white;
    font-size: 20px;
    font-weight: bold;
    text-align: center;
    margin-bottom: 3px;
}

.skill-card {
    border: 1px solid #5c646b;
    background-color: #1f252b;
    border-radius: 5px;
    color: white;
    font-size: 18px;
    text-align: center;
    padding: 3px;
    margin-top: 3px;
}

.skill-level {
    color: rgb(130, 247, 130);
}

.project-card {
    border: 1px solid #5c646b;
    background-color: #1f252b;
    border-radius: 5px;
    color: white;
    font-size: 18px;
    text-align: center;
    padding: 6px;
    margin-top: 3px;
    text-align: left;
}

.project-name {
    border-bottom: 1px solid #5c646b;
    color: white;
    font-size: 20px;
}

.project-desc {
    color: white;
    font-size: 15px;  
}

.project-link-text {
    font-size: 15px;
    color: white;
}

.poject-link {
    color: rgb(255, 255, 150);
    text-decoration: none;
    font-size: 15px;
}

.personal-info-card {
    border: 1px solid #5c646b;
    background-color: #1f252b;
    border-radius: 5px;
    color: white;
    font-size: 18px;
    text-align: center;
    padding: 6px;
    margin-top: 3px;
    text-align: left;
}

footer {
    border-top: 1px solid #5c646b;
    background-color: #1f252b;
    color: white;
    text-align: right;
    font-size: 18px;
    padding-right: 5px;
}

/* LARGE DESKTOPS CSS */
@media only screen and (min-width: 2048px) {
	.container {
		width: 80%;
	}
}
