/* Main css file */
* {
	padding: 0px;
	margin: 0px;
	box-sizing: border-box;
	font-family: helvetica;
} 

html {
	scroll-behavior: smooth;
}

body {
	background: #292e33;
}

a:hover {
	text-decoration: none;
}

/*Custom scroolbar design (Not working on mobile divices)*/
::-webkit-scrollbar { /*Own page scroolbar design*/
	width: 12px;
} 

::-webkit-scrollbar-track { /*Own scroolbar bacground*/
	background: rgb(20,20,20);
	border: 1px solid #343a40;
}
 
::-webkit-scrollbar-thumb { /*Own scrollbar button*/
	background: #4f555a;
	-webkit-transition: all 0.2s ease;
	transition: all 0.2s ease;
} 

::-webkit-scrollbar-thumb:hover { /*Own scrollbar button hover*/
	background: #5c646b;
}
/*End of Custom scrollBar*/

.wrapper .sidebar {
	background: #343a40;
	position: fixed;
	top: 0;
	left: 0;
	width: 225px;
	height: 100%;
	padding: 5px 0;
	transition: all 0.5s ease;
	z-index: 1;
}
  
.wrapper .sidebar .profile {
	margin-bottom: 3px;
	text-align: center;
}
  
.wrapper .sidebar .profile img {
	display: block;
	width: 60px;
	height: 60px;
	border-radius: 10%;
	margin: 0 auto;
}
  
.wrapper .sidebar .profile h3 {
	color: #ffffff;
	margin: 5px 0 1px;
	font-size: 25px;
}
  
.wrapper .sidebar .profile p {
	color: rgb(206, 240, 253);
	font-size: 14px;
}

.wrapper .sidebar ul li a {
	display: block;
	padding: 2.5px 4px;
	border-bottom: 0.5px solid #1c1f20;
	color: rgb(241, 237, 237);
	font-size: 18px;
	position: relative;
}
  
.wrapper .sidebar ul li a .icon {
	color: #dee4ec;
	width: 25px;
	display: inline-block;
}
  
.wrapper .sidebar ul li a:hover, .wrapper .sidebar ul li a.active {
	color: #0c0e0f;
	background:white;
	border-right: 2px solid rgb(33, 39, 43);
}
  
.wrapper .sidebar ul li a:hover .icon, .wrapper .sidebar ul li a.active .icon {
	color: #0c0e0f;
}
  
.wrapper .sidebar ul li a:hover:before, .wrapper .sidebar ul li a.active:before {
	display: block;
}
  
.wrapper .section {
	width: calc(100% - 225px);
	margin-left: 225px;
	transition: all 0.5s ease;
}

.wrapper .section .top_navbar {
	background: #343a40;
	height: 50px;
	display: flex;
	align-items: center;
	padding: 0 1%;
}

.hamburger {
	text-decoration: none;
}

.wrapper .section .top_navbar .hamburger a {
	font-size: 28px;
	color: #f4fbff;
	text-decoration: none;
 }
  
.wrapper .section .top_navbar .hamburger a:hover {
	color: #a2ecff;
	text-decoration: none;
}

.generator {
	position: relative;
	height: 50%;
	width: 100%;
	background: #292e33;
	margin-bottom: 3%;
}

.underliner {
	margin-top: 100px;
}

.contentBox {
	border: 3px solid white;
	padding: 10px;
	width: 47%;
	height: 335px;
	margin: 1.5%;
	position: relative;
	float: right;
	background-color: #343a40;
}

.boxTitle {
	border-bottom: 2px solid white;
	color: white;
	font-size: 27px;
	text-align: center;
	font-weight: bold;
}

.boxContent {
	color: white;
	font-size: 20px;
}

.cryptMSG {
	padding-left: 15px !important;
	padding-right: 15px !important;
	color: white;
	background: rgb(29, 28, 28);
	width: 90%;
}

.cryptMSGArea {
	color:white;
	font-family: Helvetica, Arial, sans-serif;
	font-weight:500;
	font-size: 18px;
	border-radius: 5px;
	line-height: 22px;
	background-color: transparent;
	border:2px solid white;
	transition: all 0.3s;
	padding: 13px;
	margin-bottom: 15px;
	width: 100%;
	box-sizing: border-box;
	outline:0;
}

.cryptMSGAreat:focus { 
	border: 2px solid white; 
}

.cryptMSGButton {
	color: white;
	font-size: 45px;
}

.cryptMSGButton:hover {
	color: rgb(236, 34, 34);
}

.removeFloat {
	clear: both;
}

.wrapper .section .container {
	margin: 30px;
	background: #292e33;
	padding: 50px;
	line-height: 28px;
}
  
body.active .wrapper .sidebar {
	left: -225px;
}
  
body.active .wrapper .section {
	margin-left: 0;
	width: 100%;
}
  
footer {
	background: #404852;
	position: fixed;
	bottom: 0px;
	width: 100%;
}

.mainPageTitle {
	color: white;
	font-size: 45px;
	position: absolute;
	top: 40%;
	left: 50%;
	transform: translate(-50%, -50%);
	font-family: 'Maven Pro', sans-serif;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	opacity: 0.8;
}

.mainPageSubTitle {
	color: white;
	font-size: 30px;
	position: absolute;
	top: 47%;
	left: 50%;
	transform: translate(-50%, -50%);
	font-family: 'Maven Pro', sans-serif;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	opacity: 0.8;
}

.homePage {
	position: fixed;
	height: 100%;
	width: 100%;
	background: #292e33;
}

canvas {
	width: 100%;
	height: 100%;
}

button {
	border: 0;
	outline: 0;
}

.aboutContainer {
	background: #292e33;
	position: relative;
	width: 100%;
	height: 100%;
	border: 1px solid #292e33;
	padding-bottom: 80px;
}

.length__title {
	margin-top: 18px;
}

.result {
	position: relative;
	height: 45px;
	overflow: hidden;
}

.field-title {
	position: absolute;
	top: -10px;
	left: 8px;
	transform: translateY(-50%);
	font-weight: 800;
	text-transform: uppercase;
	font-size: 0.65rem;
	pointer-events: none;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	color: white;
}

.pageContentText {
	color: white;
	font-family: arial;
	font-size: 17px;
	margin-left: 10%;
	margin-right: 10%;
	border: 1px solid darkgrey;
	border-radius: 10px;
	padding: 20px;
	background-color: #343a40;
	opacity: 0.8;
}

.progressBar {
	border: 1px solid darkgrey;
	padding: 5px;
	border-radius: 10px;
	color: white;
	font-family: arial;
	font-size: 17px;
	margin-left: 20%;
	margin-right: 20%;
	opacity: 0.7;
}

.bg-red-custom {
	background-color: rgb(167, 57, 57) !important;
}

.pageSubTitle { 
	color: white;
	font-family: arial;
	font-size: 22px;
}

.options {
	width: 100%;
	height: auto;
	margin: 50px 0;
}

.range__slider {
	position: relative;
	width: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
}

.result__viewbox {
	color: white;
}

.settings {
	position: relative;
	height: auto;
	widows: 100%;
	display: flex;
	flex-direction: column;
	color: white;
}

.btn.generate {
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	position: relative;
	width: 100%;
	height: 50px;
	margin: 10px 0;
	color: white;
	border: none;
	background-image: linear-gradient(135deg, #667eea 0%, #764ba2 100%);
	letter-spacing: 1px;
	font-weight: bold;
	text-transform: uppercase;
	cursor: pointer;
	transition: all 150ms ease;
}

.support {
	position: fixed;
	right: 10px;
	bottom: 10px;
	padding: 10px;
	display: flex;
}

#parent {
	height: 40px;
	white-space: nowrap;
	overflow: hidden; 
	font-family: 'Source Code Pro', monospace;  
	font-size: 28px;
	color: rgba(255,255,255,.70);
	position: relative;
}

#border {
	border-bottom: solid 3px rgba(0,255,0,.75);
	position: absolute;
	right: -7px;
	width: 20px;
}

#parent {
	-webkit-animation: animated-text 2s steps(30,end) 1s 1 normal both;
	animation: animated-text 2s steps(30,end) 1s 1 normal both
}

#border {
   -webkit-animation: animated-cursor 600ms steps(30,end) infinite;
	animation: animated-cursor 600ms steps(30,end) infinite;
}

form { 
	margin: 50px auto; 
}

.feedback-input {
	color:white;
	font-family: Helvetica, Arial, sans-serif;
	font-weight:500;
	font-size: 18px;
	border-radius: 5px;
	line-height: 22px;
	background-color: transparent;
	border:2px solid white;
	transition: all 0.3s;
	padding: 13px;
	margin-bottom: 15px;
	width: 100%;
	box-sizing: border-box;
	outline:0;
}

.feedback-input:focus { 
	border:2px 
	solid white; 
}

textarea {
	height: 150px;
	line-height: 150%;
	resize: none;
}

.contactSubmit {
	font-family: 'Montserrat', Arial, Helvetica, sans-serif;
	width: 100%;
	background-color: transparent;	
	border-radius:5px;
	border:0;
	cursor:pointer;
	color:grey;
	font-size:24px;
	padding-top:10px;
	padding-bottom:10px;
	transition: all 0.3s;
	margin-top:-4px;
	font-weight:700;
	border:2px solid white;
}

.contactSubmit:hover { 
	color: white; 
}

.alert {
	position: relative;
	top: 20px;
	width: 30%;
	font-size: 18px;
	padding: 8px;
	z-index: 2;
}

.pageTitle {
	text-align: center; 
	color: white;
	font-size: 30px;
	margin-top: 1%;
}

.borderer-bot {
	border-bottom: 4px solid white;
}

.encodedImage {
	max-width: 100%;
}

.loginPage {
	position: fixed;
	height: 100%;
	width: 100%;
	background: #292e33;
}

.loginForm {
	margin-top: 4%;
	padding: 0.5%;
	background: #171717;
	position: absolute;
	left: 50%;
	transform: translate(-50%, -50%);
	border: 1px solid white;
}

.loginFormPosY {
	padding: 1%;
	top: 27%;
	left: 50%;
	transform: translate(-50%, -50%);
}

.dbEditForm {
	text-align: center;
	border: 2px solid rgb(226, 225, 225);
	padding: 10px;
	position: relative;
	top: -5%;
	border-radius: 5px;
	opacity: 0.8;
	width: 40%;
	background: #343a40;
}

.imageUploadForm {
	padding: 2%;
	background: #343a40;
	position: absolute;
	top: 17%;
	left: 50%;
	transform: translate(-50%, -50%);
	border: 1px solid white;
}

.loginFormTitle {
	color: darkgrey;
	text-align: center;
}

.textInput {
	border: 1px solid darkgrey;
	border-radius: 4px;
	background: #171717;
	text-align: center;
	font-family: arial;
	font-size: 17px;
	margin: 3px;
	padding: 4px;
	color: white;
	transition: all 0.2s ease;
	width: 95%;
}

.textInputTitle {
	color: white;
	margin-top: 10px;
	margin-bottom: -5px;
}

.dbBrowserSelectLink {
	position: absolute;
	border: 1px solid white;
	left: 50%;
	transform: translate(-50%, -50%);
	padding: 10px;
	width: 300px;
	text-align: center;
	color: white;
	margin-bottom: 3px;
}

.dbBrowserSelectLink:hover {
	color: red;
	border: 1px solid red;
}

.textInput:focus {
	color: white;
}

.textInput:hover {
	border: 1px solid red;
}

.textInput::-moz-placeholder { 
	color: lightgrey;
}

.textInput:-ms-input-placeholder {
	color: lightgrey;
}

.textInput::placeholder { 
	color: lightgrey;
}

.inputButton {
	padding: 5px;
	margin-top: 7px;
	border: 1px solid darkgrey;
	border-radius: 4px;
	background-color: rgb(20,20,20);
	text-align: center;
	font-family: arial;
	font-size: 18px;
	color: white;
	cursor: pointer;
	transition: all 0.2s ease;
	text-decoration: none;
	padding-left: 8px;
	padding-right: 8px;
}

.textInput:hover {
	border: 1px solid red;
}

.rightPosition {
	text-align: right;
}

.checkbox { 
	border: 1px solid darkgrey;
	position: relative;
	width: 25px;
	height: 20px;
	top: 5px;
}

.checkbox:hover { 
	border: 1px solid red;
}

.checkboxText { 
	color: white;
	font-family: arial;
	font-size: 20px;
}

.sMenuButton {
	text-decoration: none;
}

.dashboardBox {
	position: fixed;
	background: #292e33;
	width: 100%;
	height: 100%;
}

.logoutLink {
	position: absolute;
	right: 1%;
}

.leftCenter {
	text-align: left;
	padding-left: 1%;
}

.card {
	margin-top: 10px;
}

.deleteLink {
	float: right;
	color: rgb(207, 28, 28);
	text-decoration: none;
	font-size: 30px;
	transition: all 0.2s ease;	
}

.deleteLink:hover {
	color: rgb(33, 248, 97);
	text-decoration: none;
}

.contactPanel {
	background: #292e33;
	width: 100%;
	height: 100%;
	border: 1px solid #292e33;
	position: absolute;
}

.adminPage {
	position: absolute;
	background: #292e33;
	width: 100%;
	height: 100%;
	overflow-x: hidden;
}

.custom-file-label {
	color: white;
}

.todoArea {
	width: calc(100% - 6.5%);
	color:white;
	padding: 4px;
	padding-left: 10px;
	height: 100%;
}

.newTodoForm {
	padding: 3px;
	background: #292e33;
	position: relative; 
	margin-top: 2.2%;
	left: 50%;
	width: 100%;
	height: 9%;
	transform: translate(-50%, -50%);
	border: 1px solid white;
}

.todoButton {
	position: absolute;
	right: 3px;
	margin: 2px;
	top: 2px;
	height: 88%;
	width: 6%;
}

.settingsValueBox {
	color: white;
	position: relative;
	width: 45%;
	padding: 3px;
	padding-left: 8px;
	border: 1px solid white;
	transform: translate(-50%, -50%);
	font-size: 28px;
	top: 10%;
	left: 50%;
	margin-bottom: 0;
}

.settingsButton {
	color: white;
	border: 1px solid white;
	padding: 4px;
	float: right;
	font-size: 20px;
	padding-left: 6px;
	padding-right: 6px;
	margin-left: 5px;
}

.settingsButton:hover {
	color: red;
	border: 1px solid red;
	text-decoration: none;
}

.table {
	position: relative;
	font-size: 18px;
	margin-bottom: 0px;
}

.deleteLinkTodos {
	color: rgb(207, 28, 28);
	text-decoration: none;
	font-size: 22px;
	transition: all 0.2s ease;	
}

.deleteLinkTodos:hover {
	color: rgb(33, 248, 97);
	text-decoration: none;
}

.breadcrumb {
	border: #4f555a 1px solid;
	margin: 0;
}

.formLimiter {
	max-width: 420px;
}

.selectorButton {
	margin-left: 3px;
	margin-right: 3px;
	padding: 5px;
	color: white;
	border: 1px solid white;
}

.selectorButton:hover {
	color: red;
	border: 1px solid red;	
}

.countTextInMenu {
	color: white;
	left: 1%;
}

.countTextInMenuR {
	color: white;
	position: absolute;
	right: 1%;
}

.pageButtonBox {
	text-align: center;
}

.backPageButton {
	color: white;
	border: 1px solid white;
	font-size: 25px;
	padding: 8px;
}

.backPageButton:hover {
	color: red;
	border: 1px solid red;	
}

.imgEditButton { 
	color: white;
	text-decoration: underline;
}

.gallery_images {
	margin: 10px;
	max-height: 500px;
	max-width: 90%;
	border: 1px solid darkgrey;
	transition: all 0.2s ease;
}

.gallery_images:hover {
	border: 1px solid red;
}

.formTtile {
	color: white;
	text-align: center;
	font-size: 22px;
}

.contactPosY {
	top: 30%;
}

.fas {
	margin-left: 5px;
}

.aboutTitle {
	margin-top: 8px;
	text-align: center;
}

.card {
    background-color: #fff;
    border-radius: 4px;
    border: none;
    position: relative;
    margin-bottom: 30px;
    box-shadow: 0 0.46875rem 2.1875rem rgba(90,97,105,0.1), 0 0.9375rem 1.40625rem rgba(90,97,105,0.1), 0 0.25rem 0.53125rem rgba(90,97,105,0.12), 0 0.125rem 0.1875rem rgba(90,97,105,0.1);
}

.l-bg-cherry {
    background: linear-gradient(to right, #632f50, rgb(218, 18, 138)) !important;
    color: #fff;
}

.l-bg-blue-dark {
    background: linear-gradient(to right, #113381, #0f459c) !important;
    color: #fff;
}

.l-bg-green-dark {
    background: linear-gradient(to right, #0e645d, #16a14b) !important;
    color: #fff;
}

.l-bg-orange-dark {
    background: linear-gradient(to right, #b46d16, #ce881e) !important;
    color: #fff;
}

.l-bg-orange-darker {
    background: linear-gradient(to right, #ad3b18, #973416) !important;
    color: #fff;
}

.l-bg-cyan-darker {
    background: linear-gradient(to right, #0f4bd6, #0a3d91) !important;
    color: #fff;
}

.card .card-statistic-3 .card-icon-large .fas, .card .card-statistic-3 .card-icon-large .far, .card .card-statistic-3 .card-icon-large .fab, .card .card-statistic-3 .card-icon-large .fal {
    font-size: 110px;
}

.cardLink {
	color: white;
	font-size: 26px;
	font-weight: bold;
}

.cardLink:hover {
	color: #000;
}

.card .card-statistic-3 .card-icon {
    text-align: center;
    line-height: 50px;
    margin-left: 15px;
    color: #000;
    position: absolute;
    right: -5px;
    top: 20px;
    opacity: 0.1;
}

.l-bg-cyan {
    background: linear-gradient(135deg, #289cf5, #84c0ec) !important;
    color: #fff;
}

.l-bg-green {
    background: linear-gradient(135deg, #23bdb8 0%, #43e794 100%) !important;
    color: #fff;
}

.l-bg-orange {
    background: linear-gradient(to right, #f9900e, #ffba56) !important;
    color: #fff;
}

.l-bg-cyan {
    background: linear-gradient(135deg, #289cf5, #84c0ec) !important;
    color: #fff;
}

.file-upload {
	background: #343a40;
	width: 98%;
	margin: 0 auto;
	padding: 20px;
	border: 1px solid white;
	position: relative;
}
  
.formTitle {
	color: white;
	font-size: 25px;
	text-align: center;
}

.file-upload-btn {
	width: 100%;
	margin: 0;
	color: #fff;
	background: #ec3131;
	border: none;
	padding: 10px;
	border-radius: 4px;
	border-bottom: 4px solid #ec3131;
	transition: all .2s ease;
	outline: none;
	text-transform: uppercase;
	font-weight: 700;
}
	
.file-upload-btn:hover {
	background: #f03a3a;
	color: #ffffff;
	transition: all .2s ease;
	cursor: pointer;
}
	
.file-upload-btn:active {
	border: 0;
	transition: all .2s ease;
}
	
.file-upload-content {
	display: none;
	text-align: center;
}
	
.file-upload-input {
	position: absolute;
	margin: 0;
	padding: 0;
	width: 100%;
	height: 100%;
	outline: none;
	opacity: 0;
	cursor: pointer;
}
	
.image-upload-wrap {
	margin-top: 20px;
	border: 4px dashed #ec3131;
	position: relative;
}
	
.image-dropping, .image-upload-wrap:hover {
	background-color: #ec3131;
	border: 4px dashed #ffffff;
}
	
.image-title-wrap {
	padding: 0 15px 15px 15px;
	color: #222;
}
	
.drag-text {
	text-align: center;
}
	
.drag-text h3 {
	font-weight: 100;
	text-transform: uppercase;
	color: #c7e2d5;
	padding: 60px 0;
}
	
.file-upload-image {
	max-height: 200px;
	max-width: 200px;
	margin: auto;
	padding: 20px;
}
	
.remove-image {
	width: 200px;
	margin: 0;
	color: #fff;
	background: #cd4535;
	border: none;
	padding: 10px;
	border-radius: 4px;
	border-bottom: 4px solid #b02818;
	transition: all .2s ease;
	outline: none;
	text-transform: uppercase;
	font-weight: 700;
}
	
.remove-image:hover {
	background: #c13b2a;
	color: #ffffff;
	transition: all .2s ease;
	cursor: pointer;
}
	
.remove-image:active {
	border: 0;
	transition: all .2s ease;
}

.icon-bar {
	position: fixed;
	top: 50%;
	-webkit-transform: translateY(-50%);
	-ms-transform: translateY(-50%);
	transform: translateY(-50%);
}
  
.icon-bar a {
	display: block;
	text-align: center;
	padding: 16px;
	transition: all 0.3s ease;
	color: white;
	font-size: 20px;
}
  
.icon-bar a:hover {
	background-color: #000;
}
  
.discord {
	background: #3B5998;
	color: white;
}
  
.twitter {
	background: #55ACEE;
	color: white;
}
  
.youtube {
	background: #bb0000;
	color: white;
}

.github {
	background: #161616;
	color: white;
}

.instagram {
	background: #35302b;
	color: white;
}

.todoErrorAlert {
	margin-bottom: 3%;
}

.stats-link {
	color: white;
}

.confirmation {
	position: absolute;
	top: 30%;
	left: 50%;
	transform: translate(-50%, -50%);
	background: #292e33;
	border: 2px solid lightgrey;
	text-align: center;
	padding: 10px;
	font-size: 20px;
}

.confirmationButton {
	position: relative;
	background: #292e33;
	border: 1px solid lightgrey;
	padding: 6px;
	font-size: 23px;	
	color: white;
	width: 100px;
}

.confirmationButton:hover {
	color: red;
	border: 1px solid red;
}

.title {
	font-weight: bold;
	font-size: 20px;
	color: white;
}
  
.bar {
	width: 100%;
	height: 35px;
	background: #fff;
	border-radius: 5px;
	position: relative;
	transition: all 2s linear;
}
  
.bar-1, .my-skills {
	width: 100%;
	margin: 10px auto 25px;
}
  
.bar-inner {
	width: 0;
	height: 35px;
	line-height: 35px;
	background: rgb(42, 100, 207);
}
  
.bar-percent {
	position: absolute;
	left: 10px;
	top: 5px;
	font-size: 18px;
}

.websiteIN {
	display: none;
}

.timeline {
	position: relative;
	color: white;
	font-family: arial;
	font-size: 17px;
	margin-left: 10%;
	margin-right: 10%;
	border: 1px solid darkgrey;
	border-radius: 10px;
	padding: 20px;
	background-color: #343a40;
	opacity: 0.8;
	margin-bottom: 20px;
}

.timeline .timeline-event {
	position: relative;
	padding-top: 5px;
	padding-bottom: 5px;
}

.timeline .timeline-event .timeline-content {
	position: relative;
	width: calc(98% - 4%);
	right: calc(-6%);
}

.timeline .timeline-event::before {
	display: block;
	content: "";
	width: 2px;
	height: calc(50% - 30px);
	position: absolute;
	background: #d2d2d2;
	right: calc(97% - 1px);
	top: 0;
}

.timeline .timeline-event::after {
	display: block;
	content: "";
	width: 2px;
	height: calc(50% - 30px);
	position: absolute;
	background: #d2d2d2;
	right: calc(97% - 1px);
	top: calc(50% + 30px);
}

.timeline .timeline-event:first-child::before, .timeline .timeline-event:last-child::after {
	display: none;
}

.timeline .timeline-event:nth-child(odd) .timeline-content {
	margin-left: 0;
}

.timeline .timeline-badge {
	display: block;
	position: absolute;
	width: 16px;
	height: 16px;
	background: #d2d2d2;
	top: calc(50% - 8px);
	right: calc(97% - 8px);
	border-radius: 50%;
	text-align: center;
	cursor: default;
}

.timeline .timeline-badge i {
	font-size: 25px;
	line-height: 40px;
}

.card.small .card-image + .card-content, .card.medium .card-image + .card-content, .card.large .card-image + .card-content {
	max-height: 40%;
}
  
.card {
	position: relative;
	margin: 0.5rem 0 1rem 0;
	background-color: #fff;
	-webkit-transition: -webkit-box-shadow .25s;
	transition: -webkit-box-shadow .25s;
	transition: box-shadow .25s;
	transition: box-shadow .25s, -webkit-box-shadow .25s;
	border-radius: 2px;
}
  
.card .card-title {
	font-size: 24px;
	font-weight: 300;
}
  
.card .card-title.activator {
	cursor: pointer;
}
  
.card.small, .card.medium, .card.large {
	position: relative;
}
  
.card.small .card-image, .card.medium .card-image, .card.large .card-image {
	max-height: 60%;
	overflow: hidden;
}
  
.card.small .card-image + .card-content, .card.medium .card-image + .card-content, .card.large .card-image + .card-content {
	max-height: 40%;
}
  
.card.small .card-content, .card.medium .card-content, .card.large .card-content {
	max-height: 100%;
	overflow: hidden;
}
  
.card.small .card-action, .card.medium .card-action, .card.large .card-action {
	position: absolute;
	bottom: 0;
	left: 0;
	right: 0;
}
  
.card.small {
	height: 300px;
}
  
.card.medium {
	height: 400px;
}
  
.card.large {
	height: 500px;
}
  
.card.horizontal {
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
}
  
.card.horizontal.small .card-image, .card.horizontal.medium .card-image, .card.horizontal.large .card-image {
	height: 100%;
	max-height: none;
	overflow: visible;
 }
  
.card.horizontal.small .card-image img, .card.horizontal.medium .card-image img, .card.horizontal.large .card-image img {
	height: 100%;
}
  
.card.horizontal .card-image {
	max-width: 50%;
}
  
.card.horizontal .card-image img {
	border-radius: 2px 0 0 2px;
	max-width: 100%;
	width: auto;
}
  
.card.horizontal .card-stacked {
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	-webkit-flex-direction: column;
	-ms-flex-direction: column;
	flex-direction: column;
	-webkit-box-flex: 1;
	-webkit-flex: 1;
	-ms-flex: 1;
	flex: 1;
	position: relative;
}
  
.card.horizontal .card-stacked .card-content {
	-webkit-box-flex: 1;
	-webkit-flex-grow: 1;
	-ms-flex-positive: 1;
	flex-grow: 1;
}
  
.card.sticky-action .card-action {
	z-index: 2;
}
  
.card.sticky-action .card-reveal {
	z-index: 1;
	padding-bottom: 64px;
}
  
.card .card-image {
	position: relative;
}
  
.card .card-image img {
	display: block;
	border-radius: 2px 2px 0 0;
	position: relative;
	left: 0;
	right: 0;
	top: 0;
	bottom: 0;
	width: 100%;
}
  
.card .card-image .card-title {
	color: #fff;
	position: absolute;
	bottom: 0;
	left: 0;
	max-width: 100%;
	padding: 24px;
}
  
.card .card-content {
	padding: 24px;
	border-radius: 0 0 2px 2px;
}
  
.card .card-content p {
	margin: 0;
}
  
.card .card-content .card-title {
	display: block;
	line-height: 32px;
	margin-bottom: 8px;
}
  
.card .card-content .card-title i {
	line-height: 32px;
}
  
.card .card-action {
	background-color: inherit;
	border-top: 1px solid rgba(160, 160, 160, 0.2);
	position: relative;
	padding: 16px 24px;
}
  
.card .card-action:last-child {
	border-radius: 0 0 2px 2px;
}
  
.card .card-action a:not(.btn):not(.btn-large):not(.btn-small):not(.btn-large):not(.btn-floating) {
	color: #ffab40;
	margin-right: 24px;
	-webkit-transition: color .3s ease;
	transition: color .3s ease;
	text-transform: uppercase;
}
  
.card .card-action a:not(.btn):not(.btn-large):not(.btn-small):not(.btn-large):not(.btn-floating):hover {
	color: #ffd8a6;
}
  
.card .card-reveal {
	padding: 24px;
	position: absolute;
	background-color: #fff;
	width: 100%;
	overflow-y: auto;
	left: 0;
	top: 100%;
	height: 100%;
	z-index: 3;
	display: none;
}
  
.card .card-reveal .card-title {
	cursor: pointer;
	display: block;
}

.card .card-content {
	padding: 24px;
	border-radius: 0 0 2px 2px;
}
  
.card .card-content p {
	margin: 0;
}
  
.card .card-content .card-title {
	display: block;
	line-height: 32px;
	margin-bottom: 8px;
}
  
.card .card-content .card-title i {
	line-height: 32px;
}
  
.blue-grey.darken-1 {
	background-color: #4a535c;
}
  
.green-text {
	color: #35ee3b !important;
}

.text-red {
	color: rgb(233, 102, 102);
}

.text-light-green {
	color: rgb(39, 179, 20);
}

.text-dark-yellow {
	color: rgb(179, 150, 20);
}

.green-text:hover {
	color: #ee3535 !important;
}

.white-text {
	color: #FFFFFF !important;
}

.card.small .card-content, .card.medium .card-content, .card.large .card-content {
	max-height: 100%;
	overflow: hidden;
}

.todoTable {
	position: absolute;
	top: 9%;
}

.lineItem {
	border-top: 2px solid #343a40;
	border-bottom: 2px solid #343a40;
}

.lineItem:hover {
	border-top: 3px solid rgb(13, 212, 40);
	border-bottom: 3px solid rgb(13, 212, 40);
}

.cardSubTitle {
	font-size: 28px;
	margin-bottom: 0;
}

.close {
	margin-top: -2px;
}

@media (max-width: 600px) {
	.timeline .timeline-event .timeline-content {
		width: calc(100% - 30px);
	}

	.timeline .timeline-event::before, .timeline .timeline-event::after {
		left: 19px;
	}

	.timeline .timeline-event:nth-child(even) .timeline-content, .timeline .timeline-event:nth-child(odd) .timeline-content {
		margin-left: 25px;
	}

	.timeline .timeline-badge {
		left: 12px;
	}
}

@media screen and (max-width: 800px) {
	.cryptMSG {
		margin-top: 30%;
	} 
	.boxTitle {
		font-size: 20px;
	}
	.generator {
		margin-bottom: 11%;
	}
	.contentBox {
		width: 97%;
		clear: both;
	}
	.mainPageSubTitle {
		display: none;
	}
	.mainPageTitle { 
		width: 100%; 
		text-align: center;
	}
	.pageTitle {
		font-size: 23px;
	}
	.contactUL {
		display: none;
	}
	.menuText {
		display: none;
	}
	.deleteLink {
		margin-bottom: 20px;
	}
	.loginFormTitle {
		font-size: 20px;
	}
	.newTodoForm {
		margin-top: 7%;
	}
	.todoButton {
		position: absolute;
		width: 18%;
	}	
	.table {
		font-size: 13px;
	}
	.todoTable {
		position: absolute;
		top: 8.6%;
	}
	.deleteLinkTodos {
		color: rgb(207, 28, 28);
		text-decoration: none;
		font-size: 15px;
		transition: all 0.2s ease;	
	}
	.settingsValueBox {
		width: 98%;
		padding: 1.5px;
		padding-left: 4px;
		font-size: 17px;
		top: 5%;
		left: 50%;
	}
	.settingsButton {
		padding: 1px;
		font-size: 13px;
		padding-left: 3px;
		padding-right: 3px;
		margin-left: 2px;
	}
	.alert {
		top: 6%;
		text-align: center;
		left: 50%;
		transform: translate(-50%, -50%);
		position: absolute;
		width: 90%;
		font-size: 15px;
		padding: 5px;
		z-index: 2;
	}	
	.text-danger {
		padding-bottom: 1px;
	}
	.backPageButton {
		color: white;
		border: 1px solid white;
		font-size: 17px;
		padding: 8px;
	}
	.loginForm {
		margin-top: 18%;
		padding: 0.5%;
		left: 50%;
		width: 90%;
	}
	.loginFormPosY {
		padding: 10px;
	}
	.countTextInMenu {
		display: none;
	}
	.countTextInMenuR {
		display: none;
	}
	.selectorButton {
		margin-left: 2px;
		margin-right: 2px;
		padding: 3px;
	}
	.dbBrowserSelectLink {
		width: 200px;
		margin-bottom: 3px;
	}
	.title {
		font-size: 18px;
	}
	.generateButton {
		font-size: 15px;
		padding: 3px;
	}
	.settings {
		font-size: 15px;
	}
	.imageUploadForm {
		padding: 2%;
		top: 17%;
		left: 50%;
		width: 90%;
	}
	.formTtile {
		color: white;
		text-align: center;
		font-size: 17px;
	}
	.contactPosY {
		top: 35%;
	}
	.progressBar {
		margin-left: 10px;
		margin-right: 10px;
	}
	.pageContentText {
		margin-left: 2%;
		margin-right: 2%;
	}
	.cardPhone {
		margin-left: 13px;
		width: 90%;
	}
	.icon-bar {	
		display: none;
	}
	.todoArea {
		width: calc(100% - 20%);
	}
	.encryptorInput {
		position: relative;
		top: 1%;
		width: 100%;
	}
	.logReaderInfo {
		font-size: 16px;
	}
	.container3 {
		padding-bottom: 60px;
	}
	.todoErrorAlert {
		margin-top: 11%;
	}
	.close {
		margin-top: -7px;
	}
	.dbEditForm { 
		width: 95%;
		top: -13%;
	}
}

@media screen and (max-height: 500px) {
	.newTodoForm {
		top: 0;
		width: 100%;
		height: 17.2%;
	}
	.table {
		top: 16.3%;
		height: 100%;
	}
}

@-webkit-keyframes octocat-wave {
	0%, 100% {
		transform:rotate(0);
	}
	20%, 60% {
		transform:rotate(-20deg);
	}
	40%, 80% {
		transform:rotate(10deg);
	}
}

@keyframes octocat-wave {
	0%, 100% {
		transform:rotate(0);
	}
	20%, 60% {
		transform:rotate(-20deg);
	}
	40%, 80% {
		transform:rotate(10deg);
	}
}

/* text animation */
@-webkit-keyframes animated-text {
	from {
		width: 0;
	}
	to {
		width: 480px;
	}
}

@keyframes animated-text {
	from {
		width: 0;
	}
	to {
		width: 480px;
	}
}

@-webkit-keyframes animated-cursor {
	from {
		border-bottom-color: 
		rgba(0,255,0,.75);
	}
	to {
		border-bottom-color: 
		transparent;
	}
}

@keyframes animated-cursor {
	from {
		border-bottom-color: 
		rgba(0,255,0,.75);
	}
	to {
		border-bottom-color: 
		transparent;
	}
}