/* becvar-site: admin page style */
* {
	padding: 0px;
	margin: 0px;
	box-sizing: border-box;
	font-family: Verdana, sans-serif;
}

html {
	scroll-behavior: smooth;
}

body {
	background-color: #161616;
	zoom: 80%;
}

body.active .wrapper .sidebar {
	left: -225px;
}

body.active .wrapper .section {
	margin-left: 0;
	width: 100%;
}

a:hover {
	text-decoration: none;
}

ul {
	list-style-type: none;
}

form {
	color:white;
}

textarea {
	height: 150px;
	line-height: 150%;
	resize: none;
}

.green-text {
	color: #35ee3b !important;
}

.online-text {
	color: #35ee3b !important;
}

.color-white {
	color: white;
}

.text-red {
	color: rgb(253, 94, 94) !important;
}

.text-light-green {
	color: rgb(39, 179, 20);
}

.green-text:hover {
	color: #ee3535 !important;
}

#wrarning-box {
	display: none;
}

.highlight {
	background-color: #a72e2e;	
}

.center {
	text-align: center;
}

.center-box {
	display: flex;
	justify-content: center;
}

.wrapper .sidebar {
	background-color: #161616;
	position: fixed;
	top: 0;
	left: 0;
	width: 225px;
	height: 100%;
	padding: 5px 0;
	transition: all 0.2s ease;
	z-index: 1;
	border-right: 1px solid rgba(255, 255, 255, 0.24);
	overflow-y: auto;
}

.wrapper .sidebar .profile {
	margin-bottom: 3px;
	text-align: center;
}

.wrapper .sidebar .profile img {
	display: block;
	width: 60px;
	height: 60px;
	border-radius: 10%;
	margin: 0 auto;
}

.wrapper .sidebar .profile h3 {
	color: #ffffff;
	margin: 5px 0 1px;
	font-size: 25px;
}

.wrapper .sidebar .profile p {
	color: rgb(206, 240, 253);
	font-size: 14px;
}

.wrapper .sidebar ul li a {
	display: block;
	padding: 2.5px 4px;
	border-bottom: 0.5px solid rgba(255, 255, 255, 0.24);
	color: rgb(241, 237, 237);
	font-size: 18px;
	position: relative;
}

.wrapper .sidebar ul li a .icon {
	color: #dee4ec;
	width: 25px;
	display: inline-block;
}

.wrapper .sidebar ul li a:hover, .wrapper .sidebar ul li a.active {
	background-color: rgba(87, 87, 87, 0.397);
	border-right: 2px solid rgb(33, 39, 43);
	color: #79d5ec;
}

.wrapper .sidebar ul li a:hover:before, .wrapper .sidebar ul li a.active:before {
	display: block;
}

.wrapper .section {
	width: calc(100% - 225px);
	margin-left: 225px;
	transition: all 0.2s ease;
}

.wrapper .section .top-navbar {
	background-color: #161616;
	height: 40px;
	display: flex;
	align-items: center;
	padding: 0 1%;
	border-bottom: 1px solid rgba(255, 255, 255, 0.24);
}

.wrapper .section .top-navbar {
	position: fixed; 
	z-index: 1000; 
	width: calc(100% - 15px) !important;
}

.wrapper .section .top-navbar .hamburger a {
	font-size: 28px;
	color: #f4fbff;
	text-decoration: none;
}

.wrapper .section .top-navbar .hamburger a:hover {
	color: #79d5ec;
	text-decoration: none;
}

.wrapper .section .container {
	margin: 30px;
	background: #292e33;
	padding: 50px;
	line-height: 28px;
}

.role-line {
	font-size: 18px;
	color: rgb(148, 255, 241);
}

.hamburger {
	text-decoration: none;
}

.register-page {
	position: fixed;
	height: 100%;
	width: 100%;
	background: #040404 url(../img/bg.jpg) top right no-repeat;
	background-size: cover;
}

button {
	border: 0;
	outline: 0;
}

.bg-red-custom {
	background-color: rgb(199, 63, 63);
}

.msg-box {
	max-width: 95%;
}

.feedback-input {
	color:white;
	font-family: Helvetica, Arial, sans-serif;
	font-weight:500;
	font-size: 18px;
	border-radius: 5px;
	line-height: 22px;
	background-color: transparent;
	border: 2px solid rgba(255, 255, 255, 0.24);
	transition: all 0.3s;
	padding: 13px;
	margin-bottom: 15px;
	width: 100%;
	box-sizing: border-box;
	outline:0;
}

.alert {
	position: relative;
	top: 20px;
	width: 30%;
	font-size: 18px;
	padding: 8px;
	z-index: 2;
}

.page-title {
	text-align: center; 
	color: white;
	font-size: 30px;
	margin-top: 3%;
}

.login-page {
	position: fixed;
	height: 100%;
	width: 100%;
	background: #000000 url(../img/bg.jpg) top right no-repeat;
	background-size: cover;
}

.form {
	margin-top: 4%;
	padding: 0.5%;
	background: rgba(0, 0, 0, 0.596);
	border: 2px solid rgba(255, 255, 255, 0.24);
	position: absolute;
	left: 50%;
	transform: translate(-50%, -50%);
	min-width: 350px;
}

.form .text-input:-webkit-autofill, .form .text-input:-webkit-autofill:hover, .form .text-input:-webkit-autofill:focus {
	border: 2px solid rgba(255, 255, 255, 0.24);
	-webkit-text-fill-color: white;
	-webkit-box-shadow: 0 0 0px 1000px rgba(255, 255, 255, 0) inset;
	transition: background-color 5000s ease-in-out 0s;
}

.form-pos-y {
	padding: 1%;
	top: 27%;
	left: 50%;
	transform: translate(-50%, -50%);
}

.db-edit-form {
	text-align: center;
	border: 2px solid rgba(255, 255, 255, 0.24);
	padding: 10px;
	position: relative;
	top: 50px;
	opacity: 0.8;
	width: 40%;
	background: rgba(0, 0, 0, 0.877);
}

.image-upload-form {
	padding: 2%;
	background: rgba(0, 0, 0, 0.596);
	position: absolute;
	top: 35%;
	left: 50%;
	transform: translate(-50%, -50%);
	border: 2px solid rgba(255, 255, 255, 0.24);
}

.form-title {
	color: white;
	text-align: center;
}

.form-sub-title {
	font-size: 15px;
	font-weight: bold;
}

.text-input {
	border: 2px solid rgba(255, 255, 255, 0.24);
	background: rgba(255, 255, 255, 0.062);
	text-align: center;
	font-family: arial;
	font-size: 17px;
	margin: 3px;
	padding: 4px;
	color: white;
	transition: all 0.2s ease;
	width: 98.5%;
}

.text-input:-webkit-autofill, .text-input:-webkit-autofill:hover, .text-input:-webkit-autofill:focus {
	border: 2px solid rgba(255, 255, 255, 0.24);
	-webkit-text-fill-color: white;
	background: rgba(255, 255, 255, 0.062);
	-webkit-box-shadow: 0 0 0px 1000px rgba(255, 255, 255, 0.062) inset;
	transition: background-color 5000s ease-in-out 0s;
}

.text-input-title {
	color: white;
	margin-top: 10px;
	margin-bottom: -5px;
}

.db-browser-select-link {
	position: absolute;
	border: 1px solid white;
	left: 50%;
	transform: translate(-50%, -50%);
	padding: 10px;
	width: 300px;
	text-align: center;
	color: white;
	margin-bottom: 3px;
}

.db-browser-select-link:hover {
	color: #fada28;
	border: 1px solid #fada28;
}

.text-input:focus {
	color: white;
}

.text-input::-moz-placeholder { 
	color: lightgrey;
}

.text-input:-ms-input-placeholder {
	color: lightgrey;
}

.text-input::placeholder { 
	color: lightgrey;
}

.input-button {
	padding: 5px;
	margin-top: 7px;
	border: 2px solid rgba(255, 255, 255, 0.24);
	background: rgba(255, 255, 255, 0.062);
	text-align: center;
	font-family: arial;
	font-size: 18px;
	color: white;
	cursor: pointer;
	transition: all 0.2s ease;
	text-decoration: none;
	padding-left: 8px;
	padding-right: 8px;
}

.input-button:hover {
	border: 2px solid rgba(255, 255, 255, 0.2419);
	background: rgba(255, 255, 255, 0.103);
}

.right-position {
	text-align: right;
}

.checkbox { 
	border: 2px solid rgba(255, 255, 255, 0.24);
	background: rgba(180, 38, 38, 0.062);
	position: relative;
	width: 25px;
	height: 20px;
	top: 5px;
}

.checkbox-text { 
	color: white;
	font-family: arial;
	font-size: 20px;
}

.s-menu-button {
	text-decoration: none;
}	

.logout-link {
	position: fixed;
	right: 20px;
}

.left-center {
	text-align: left;
	padding-left: 1%;
}

.card-header {
	border-bottom: 1px solid rgba(255, 255, 255, 0.24);
}

.card {
	margin-top: 10px;
	background-color: #1d1d1d;
	border: 1px solid rgba(255, 255, 255, 0.24);
	border-radius: 4px;
	position: relative;
	margin-bottom: 15px;
}

.card-text {
	margin-bottom: 5px;
}

.dashbord-card {
	margin-left: 13px; 
	margin-right: 235px;
}

.delete-link {
	float: right;
	color: rgb(207, 39, 39);
	text-decoration: none;
	font-size: 30px;
	transition: all 0.2s ease;	
	margin-right: 8px;
}

.delete-link:hover {
	color: rgb(33, 248, 97);
	text-decoration: none;
}

.admin-panel {
	background-color: #161616;
	width: 100%;
	height: calc(100% - 40px);
	position: absolute;
	top: 40px;
}

.admin-page {
	position: absolute;
	background-color: #161616;
	width: 100%;
	height: 100%;
	overflow-x: hidden;
}

.todo-area {
	width: calc(100% - 6.5%);
	color:white;
	padding: 4px;
	padding-left: 10px;
	height: 98%;
	margin-top: -3.5px;
	margin-left: -3.5px;
	border: 2px solid rgba(255, 255, 255, 0.24);
	background: rgba(255, 255, 255, 0.062);
}

.new-todo-form {
	padding: 5px;
	background: rgba(0, 0, 0, 0.596);
	position: relative; 
	margin-top: 30px;
	left: 50%;
	width: 100%;
	height: 60px;
	transform: translate(-50%, -50%);
	border: 2px solid rgba(255, 255, 255, 0.356);
}

.todo-button {
	position: absolute;
	right: 1px;
	margin: 2px;
	top: -1px;
	height: 95%;
	width: 6.6%;
}

.table {
	position: relative;
	font-size: 18px;
	margin-bottom: 0px;
	background-color: rgb(27, 27, 27);
	color: white;
}

.dark-table {
	background-color: rgb(27, 27, 27);
}

.delete-link-todos {
	color: rgb(207, 28, 28);
	text-decoration: none;
	font-size: 22px;
	transition: all 0.2s ease;	
}

.delete-link-todos:hover {
	color: rgb(33, 248, 97);
	text-decoration: none;
}

.breadcrumb {
	background-color: #161616;
	border-top: #242627 1px solid;
	border-bottom: rgba(255, 255, 255, 0.24) 1px solid;
	margin: 0;
}

.selector-button {
	margin-left: 3px;
	margin-right: 3px;
	padding: 5px;
	color: white;
	border: 1px solid white;
}

.selector-button:hover {
	color: #fada28;
	border: 1px solid #fada28;
}

.count-text-in-menu {
	color: white;
	position: absolute;
	right: 1%;
}

.page-button-box {
	margin-top: 20px;
	text-align: center;
}

.back-page-button {
	color: white;
	border: 1px solid white;
	font-size: 25px;
	padding: 8px;
}

.back-page-button:hover {
	color: #fada28;
	border: 1px solid #fada28;
}

.img-edit-button { 
	color: white;
	text-decoration: underline;
}

.gallery-images {
	margin: 10px;
	max-height: 400px;
	max-width: 80%;
	border: 1px solid rgba(146, 146, 146, 0.945);
	transition: all 0.2s ease;
}

.gallery-images:hover {
	border: 1px solid rgb(241, 53, 53);
}

.lg {
	z-index: 9999; 
}

.fas {
	margin-left: 5px;
}

.card .card-statistic-3 .card-icon-large .fas, .card .card-statistic-3 .card-icon-large .far, .card .card-statistic-3 .card-icon-large .fab, .card .card-statistic-3 .card-icon-large .fal {
	font-size: 110px;
}

.card-link {
	color: white;
	font-size: 26px;
	font-weight: bold;
}

.card-link:hover {
	color: #79d5ec;
}

.card .card-statistic-3 .card-icon {
	text-align: center;
	line-height: 50px;
	margin-left: 15px;
	color: #000;
	position: absolute;
	right: -5px;
	top: 20px;
	opacity: 0.1;
}

.stats-link {
	color: white;
}

.confirmation {
	position: absolute;
	top: 30%;
	left: 50%;
	transform: translate(-50%, -50%);
	background-color: #161616;
	border: 2px solid rgba(255, 255, 255, 0.24);
	text-align: center;
	padding: 10px;
	font-size: 20px;
}

.confirmation-button {
	position: relative;
	background-color: #161616;
	border: 2px solid rgba(255, 255, 255, 0.24);
	padding: 6px;
	font-size: 23px;	
	color: white;
	width: 100px;
}

.confirmation-button:hover {
	color: #fada28;
	border: 1px solid #fada28;
}

.title {
	font-weight: bold;
	font-size: 20px;
	color: white;
}

.websiteIN {
	display: none;
}

.todo-table {
	position: absolute;
	top: 110px;
	border-bottom: 1px solid rgba(255, 255, 255, 0.24);
}

.todo-table-top-reset {
	top: 50px !important;
}

.line-item {
	border-top: 2px solid #242627;
	border-bottom: 1px solid rgba(255, 255, 255, 0.24);
}

.line-item:hover {
	background-color: rgba(87, 87, 87, 0.397);
}

.counter-card {
	margin-top: -3px;
}

.close {
	margin-top: -2px;
}

.diagnostics-large {
	font-size: 20px;
}

.diagnostics-large-title {
	font-size: 25px;
}

.log-reader-link {
	text-decoration: underline;
}

.log-reader-info-card {
	margin: 0; 
	border-top: 1px solid rgba(255, 255, 255, 0.24); 
	border-bottom: 1px solid rgba(255, 255, 255, 0.24);
}

.account-settings-table {
	border: 1px solid rgba(255, 255, 255, 0.24);
	max-width: 50%;
}

.profile-pics-admin-settings {
	max-width: 40px;
}

.project-update {
	margin: 0;
}

.email-line {
	margin-left: 0px;
	margin-top: 4px;
}

.diagnostic-card {
	margin-left: 1% !important; 
	margin-right: 1% !important;
	margin-bottom: 1% !important;
}

.shutdown-form {
	top: 28%;
}

.counter-container {
	background: none;
	border: none;
}

.profile-pic-change {
	color: white;
}

.chat-panel {
	flex-grow: 1;
	display: flex;
	flex-direction: column;
	background-color: #1a1a1a;
	color: white;
	font-size: 20px;
	font-family: 'Courier New', monospace;
}

.chat-panel h2 {
	font-size: 16px;
	margin-bottom: 0px;
	background-color: #1d1d1d;
	padding: 5px 10px;
	width: 100%;
	border-top: 1px solid rgba(255, 255, 255, 0.24);
	border-left: 1px solid rgba(255, 255, 255, 0.24);
	border-right: 1px solid rgba(255, 255, 255, 0.24);
	color: white;
}

#chat {
	flex-grow: 1;
	overflow-y: scroll;
	border: 1px solid rgba(255, 255, 255, 0.24);
	padding: 10px;
}

.input-container {
	display: flex;
	align-items: center;
	justify-content: space-between;
	width: 100%;
	border-left: 1px solid rgba(255, 255, 255, 0.24);
}

#message {
	flex: 1;
	padding: 10px;
	margin: 0;
	border: 1px solid rgba(255, 255, 255, 0.24);
	background-color: #1d1d1d;
	color: white;
	outline: none;
	border-left: 1px solid rgba(255, 255, 255, 0.24);
}

#send {
	padding: 10px;
	margin-left: 1px;
	margin-right: 1px;
	background-color: rgba(255, 255, 255, 0.24);
	background-color: #1d1d1d;
	border: none;
	cursor: pointer;
}

#send:hover {
	background-color: rgba(231, 231, 231, 0.24);
}

.user-panel {
	min-width: 15%;
	background-color: #1d1d1d;
	color: rgba(255, 255, 255, 0.24);
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	align-items: flex-start;
	padding: 0px;
	border: 1px solid rgba(255, 255, 255, 0.24);
	overflow-y: auto;
}

.user-panel h2 {
	font-size: 17px;
	margin-bottom: 10px;
	background-color: #222;
	padding: 5px 10px;
	width: 100%;
	border-bottom: 1px solid rgba(255, 255, 255, 0.24);
	color: white;
}

.user-panel .user-name {
	font-size: 25 !important;
	font-weight: bold;
}

.user-panel ul {
	list-style: none;
	padding: 0;
	margin: 0;
}

.user-panel li {
	margin-left: 10px;
}

.chat-message-box {
	border-radius: 20px;
	padding: 10px;
	background-color: rgb(24, 24, 24);
	border: 1px solid rgba(255, 255, 255, 0.24);
}

.chat-message-box img {
	max-width: 50px;
}

.chat-message-box img {
	max-width: 30px;
	margin-right: 4px;
	border-radius: 20%;
}

.link-yellow {
	color: rgb(235, 201, 50) !important;
}

.terminal-component {
	background-color: rgb(12, 12, 12);
	height: 100%;
}

.terminal-component #terminal {
	width: 100%;
	height: 100%;
	margin: 0;
	color: #FFFFFF;
	font-family: monospace !important;
	display: flex;
	flex-direction: column;
	padding-left: 5px !important;
}

.terminal-component #user {
	color: #ff4a4a;
}

.terminal-component #output-container {
	overflow: auto; 
	max-height: 100%;
	padding-top: 8px;
	padding-right: 8px;
	padding-left: 8px;
	font-size: 23px !important;
	margin-bottom: 0px;
	overflow-x: hidden;
	color: #FFFFFF;
}

.terminal-component #command-container {
	display: flex;
	align-items: center;
}

.terminal-component #prompt {
	display: inline-block;
}

.terminal-component #prompt-line {
	white-space: nowrap;
	color: #6262ff;
	font-size: 22px !important;
}

.terminal-component .prompr-reset {
	margin-left: -8px;
}

.terminal-component #command {
	width: 100%;
	background-color: transparent;
	border: none;
	outline: none;
	margin-left: 5px;
	color: white;
	font-size: 22px !important;
	text-transform: lowercase;
}

.file-input-control {
	padding: 5px;
	border-radius: 5px;
	border: 1px solid rgb(177, 177, 177);
}

.buttom-spacer {
	max-width: 100%;
	min-width: 100%;
	height: 5px;
}

.ip-info-box {
	margin-top: 40px;
	color: white;
	border: 1px solid white;
	position: absolute;
	width: 50%;
	background-color: rgb(27, 27, 27);
	border: 1px solid rgb(177, 177, 177);
}

.ip-info-title {
	font-size: 22px;
	font-weight: bold;
	border-bottom: 1px solid rgb(177, 177, 177);;
	padding: 10px;
	margin-bottom: -3px;
}

.ip-info-body li {
	padding: 6px;
	border-bottom: 1px solid rgb(177, 177, 177);
	font-size: 18px;
}

/* mobile devices style */
@media screen and (max-width: 800px) { 
	.account-settings-table {
		max-width: 100%;
	}
	body {
		zoom: 100%;
	}
	::-webkit-scrollbar {
		width: 10px;
		height: 10px;
	} 
	.phone-none {
		display: none;
	}
	.page-title {
		font-size: 23px;
	}
	.menu-text {
		display: none;
	}
	.delete-link {
		margin-bottom: 20px;
		font-size: 18px;
	}
	.form-title {
		font-size: 20px;
	}
	.todo-button {
		position: absolute;
		width: 18%;
	}	
	.table {
		font-size: 13px;
	}
	.delete-link-todos {
		font-size: 15px;
	}
	.alert {
		top: 6%;
		text-align: center;
		left: 50%;
		transform: translate(-50%, -50%);
		position: absolute;
		width: 90%;
		font-size: 15px;
		padding: 5px;
		z-index: 2;
	}	
	.text-danger {
		padding-bottom: 1px;
	}
	.back-page-button {
		font-size: 17px;
	}
	.form {
		margin-top: 18%;
		padding: 0.5%;
		left: 50%;
		width: 90%;
	}
	.form-pos-y {
		padding: 10px;
	}
	.count-text-in-menu {
		display: none;
	}
	.selector-button {
		margin-left: 2px;
		margin-right: 2px;
		padding: 3px;
		font-size: 16px;
	}
	.db-browser-select-link {
		width: 200px;
		margin-bottom: 3px;
	}
	.title {
		font-size: 18px;
	}
	.settings {
		font-size: 15px;
	}
	.image-upload-form {
		padding: 4%;
		top: 40%;
		left: 50%;
		width: 90%;
	}
	.card-phone {
		margin-left: 10px;
		width: 96%;
	}
	.diag-card-phone {
		margin-left: 4%;
		width: calc(100% - 3%);	
	}
	.todo-area {
		width: calc(100% - 18%);
		margin-top: -4px;
		height: 56px;
	}
	.log-reader-info {
		font-size: 16px;
	}
	.close {
		margin-top: -7px;
	}
	.db-edit-form { 
		width: 95%;
		top: 30px;
	}
	.diagnostics-large {
		font-size: 15px;
	}
	.diagnostics-large-title {
		font-size: 18px;
	}
	.logout-link {
		right: 15px;
	}
	.wrapper .section .top-navbar {
		width: calc(100% - 10px) !important;
	}
	.new-todo-form {
		height: 62px;
	}
	.user-panel {
		display: none;
	}
	.terminal-component #output-container {
		font-size: 22px;
	}
	.terminal-component #prompt-line {
		font-size: 22px;
	}
	.terminal-component #command {
		font-size: 22px;
	}
	.ip-info-box {
		margin-top: 0px;
		width: 100%;
	}
	.ip-info-title {
		font-size: 18px;
		padding: 4px;
	}
	.ip-info-body li {
		font-size: 13px;
		padding: 3px;
	}
}

/* fix dashboard for tablets */
@media screen and (min-width: 768px) and (max-width: 1024px) {
	.card-phone {
		width: 97.5%;
	}
}

/* fix for mobile todo table */
@media screen and (max-height: 500px) {
	.table {
		top: 16.3%;
		height: 100%;
	}	
	.todo-table {
		top: 110px;
	}
}
