/* public page style */ 

/* ============== common style ============== */
body {
    color: #fff;
    position: relative;
    background: transparent;
    background-color: #040404;
    font-family: "Courier", sans-serif;
}

body::before {
    content: "";
    position: fixed;
    background: #040404 url("../img/bg.webp") top right no-repeat;
    background-size: cover;
    top: 0;
    left: 0;
    right: 0;
    z-index: -1;
    height: 100vh;
}

/* fix profiler toolbar position */
.sf-toolbar {
	position: absolute !important;
}

@media (min-width: 1024px) {
    body::before {
        background-attachment: fixed;
    }
}

a {
    color: #f1d220;
    text-decoration: none;
}

a:hover {
    color: #b6a22f;
    text-decoration: none;
}

h1, h2, h3, h4, h5, h6 {
    font-family: "Raleway", sans-serif;
}

#header {
    z-index: 997;
    height: 100vh;
    display: flex;
    overflow-y: auto;
    position: relative;
    align-items: center;
}

#header h1 {
    margin: 0;
    padding: 0;
    line-height: 1;
    font-size: 48px;
    font-weight: 700;
    font-family: "Poppins", sans-serif;
}

#header h1 a, #header h1 a:hover {
    color: #fff;
    line-height: 1;
    display: inline-block;
}

#header h2 {
    font-size: 24px;
    margin-top: 20px;
    color: rgba(255, 255, 255, 0.8);
}

#header h2 span {
    color: #fff;
    padding-bottom: 6px;
    border-bottom: 2px solid #ffd900;
}

#header img {
    padding: 0;
    margin: 0;
}

#header .social-links {
    display: flex;
    margin-top: 40px;
}

#header .social-links a {
    display: flex;
    width: 40px;
    height: 40px;
    color: #fff;
    line-height: 1;
    font-size: 16px;
    margin-right: 8px;
    border-radius: 50%;
    align-items: center;
    justify-content: center;
    background: rgba(255, 255, 255, 0.1);
}

#header .social-links a:hover {
    background: #977b00;
}

@media (max-width: 992px) {
    #header h1 {
        font-size: 36px;
    }
    #header h2 {
        font-size: 20px;
        line-height: 30px;
    }
    #header .social-links {
        margin-top: 15px;
    }
    #header .container {
        display: flex;
        align-items: center;
        flex-direction: column;
    }
}

#header.header-top {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    height: 80px;
    background: rgba(0, 0, 0);
}

#header.header-top .social-links, #header.header-top h2 {
    display: none;
}

#header.header-top h1 {
    margin-right: auto;
    font-size: 36px;
}

#header.header-top .container {
    display: flex;
    align-items: center;
}

#header.header-top .navbar {
    margin: 0;
}

@media (max-width: 768px) {
    #header.header-top {
        height: 60px;
    }
    #header.header-top h1 {
        font-size: 26px;
    }
}

/* ============== homepage style ============== */
.home-page-text #typed-text-wrapper {
    color: #fff;
    padding-bottom: 6px;
    border-bottom: 2px solid #ffd900;
}

.home-page-text #cursor {
    display: none;
    width: 1px;
    height: 1em;
    margin-left: 2px;
    padding-bottom: 0;
    border-bottom: none;
    vertical-align: bottom;
    background-color: #ffd900;
    animation: blink 0.8s step-start infinite;
}

@keyframes blink {
    50% {
        opacity: 0;
    }
}

/* ============== navigation style ============== */
.navbar {
    padding: 0;
    margin-top: 35px;
}

.navbar ul {
    margin: 0;
    padding: 0;
    display: flex;
    list-style: none;
    align-items: center;
}

.navbar li {
    position: relative;
}

.navbar li + li {
    margin-left: 30px;
}

.navbar a, .navbar a:focus {
    padding: 0;
    display: flex;
    font-size: 16px;
    font-weight: 400;
    white-space: nowrap;
    align-items: center;
    justify-content: space-between;
    color: rgba(255, 255, 255, 0.7);
    font-family: "Poppins", sans-serif;
}

.navbar a i, .navbar a:focus i {
    line-height: 0;
    font-size: 12px;
    margin-left: 5px;
}

.navbar a:before {
    content: "";
    position: absolute;
    left: 0;
    width: 0;
    width: 0px;
    height: 2px;
    bottom: -4px;
    visibility: hidden; 
    background-color: #ffd900;
}

.navbar a:hover:before, .navbar li:hover > a:before, .navbar .active:before {
    width: 25px;
    visibility: visible;
}

.navbar a:hover, .navbar .active, .navbar .active:focus, .navbar li:hover > a {
    color: #fff;
}

.mobile-nav-toggle {
    top: 15px;
    right: 15px;
    color: #fff;
    display: none;
    line-height: 0;
    font-size: 28px;
    cursor: pointer;
    position: fixed;
}

@media (max-width: 991px) {
    .mobile-nav-toggle {
        display: block;
    }
    .navbar ul {
        display: none;
    }
}

.navbar-mobile {
    position: fixed;
    overflow: hidden;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 999;
    margin-top: 0;
    transition: 0.3s;
    background: rgba(0, 0, 0, 0.9);
}

.navbar-mobile .mobile-nav-toggle {
    position: absolute;
    top: 15px;
    right: 15px;
}

.navbar-mobile ul {
    position: absolute;
    display: block;
    top: 55px;
    left: 15px;
    right: 15px;
    bottom: 45px;
    padding: 10px 0;
    overflow-y: auto;
    transition: 0.3s;
    border: 2px solid rgba(255, 255, 255, 0.2);
}

.navbar-mobile li {
    padding: 12px 20px;
}

.navbar-mobile li + li {
    margin: 0;
}

.navbar-mobile a, .navbar-mobile a:focus {
    font-size: 16px;
    position: relative;
}

section {
    width: 100%;
    top: 140px;
    opacity: 0;
    z-index: 2;
    bottom: 100%;
    overflow: hidden;
    position: absolute;
    transition: ease-in-out 0.4s;
}

section.section-show {
    top: 100px;
    opacity: 1;
    bottom: auto;
    padding-bottom: 45px;
}

section .container {
    padding: 30px;
    background: rgba(0, 0, 0, 0.9);
}

@media (max-width: 768px) {
    section {
        top: 120px;
    }
    section.section-show {
        top: 80px;
    }
}

.section-title h2 {
    padding: 0;
    font-size: 14px;
    font-weight: 500;
    line-height: 1px;
    color: #aaaaaa;
    margin: 0 0 20px 0;
    letter-spacing: 2px;
    text-transform: uppercase;
    font-family: "Poppins", sans-serif;
}

.section-title h2::after {
    content: "";
    width: 120px;
    height: 1px;
    margin: 4px 10px;
    display: inline-block;
    background: #ffd900;
}

.section-title p {
    color: #fff;
    margin: 0;
    font-size: 36px;
    font-weight: 700;
    margin: -15px 0 15px 0;
    text-transform: uppercase;
    font-family: "Poppins", sans-serif;
}

/* ============== about style ============== */
.about-me .content h3 {
    font-weight: 700;
    font-size: 26px;
    color: #ffd900;
}

.about-me .content ul {
    padding: 0;
    list-style: none;
}

.about-me .content ul li {
    display: flex;
    margin-bottom: 20px;
    align-items: center;
}

.about-me .content ul strong {
    margin-right: 10px;
}

.about-me .content ul i {
    line-height: 0;
    font-size: 16px;
    color: #ffd900;
    margin-right: 5px;
}

.about-me .content p:last-child {
    margin-bottom: 0;
}

.counts {
    padding: 70px 0 60px;
}

.counts .count-box {
    width: 100%;
    position: relative;
    text-align: center;
    padding: 30px 30px 25px 30px;
    background: rgba(255, 255, 255, 0.08);
}

.counts .count-box i {
    left: 50%;
    top: -25px;
    padding: 12px;
    line-height: 0;
    font-size: 24px;
    color: #ffd900;
    position: absolute;
    border-radius: 50px;
    transform: translateX(-50%);
    background: rgba(255, 255, 255, 0.1);
}

.counts .count-box span {
    color: #fff;
    display: block;
    font-size: 36px;
    font-weight: 600;
}

.counts .count-box p {
    margin: 0;
    padding: 0;
    font-size: 14px;
    font-family: "Raleway", sans-serif;
}

.skills .progress {
    height: 60px;
    display: block;
    background: none;
    border-radius: 0;
}

.skills .progress .skill {
    margin: 0;
    color: #fff;
    display: block;
    padding: 10px 0;
    font-weight: 600;
    text-transform: uppercase;
    font-family: "Poppins", sans-serif;
}

.skills .progress .skill .val {
    float: right;
    font-style: normal;
}

.skills .progress-bar-wrap {
    background: rgba(255, 255, 255, 0.2);
}

.skills .progress-bar {
    width: 1px;
    height: 10px;
    transition: 0.9s;
    background-color: #b69b03;
}

/* ============== projects style ============== */
.projects .projects-title {
    color: #fff;
    font-size: 26px;
    font-weight: 700;
    margin-top: 20px;
    margin-bottom: 20px;
}

.projects .projects-item {
    margin-top: -2px;
    position: relative;
    padding: 0 0 20px 20px;
    border-left: 2px solid rgba(255, 255, 255, 0.2);
}

.projects .projects-item h4 {
    color: #ffd900;
    font-size: 18px;
    font-weight: 600;
    line-height: 18px;
    margin-bottom: 10px;
    text-transform: uppercase;
    font-family: "Poppins", sans-serif;
}

.projects .projects-item h5 {
    font-size: 16px;
    font-weight: 600;
    padding: 5px 15px;
    margin-bottom: 10px;
    display: inline-block;
    background: rgba(255, 255, 255, 0.15);
}

.projects .projects-item ul {
    padding-left: 20px;
}

.projects .projects-item ul li {
    padding-bottom: 10px;
}

.projects .projects-item:last-child {
    padding-bottom: 0;
}

.projects .projects-item::before {
    position: absolute;
    content: "";
    top: 0;
    left: -9px;
    width: 16px;
    height: 16px;
    border-radius: 50px;
    background: #ffc400;
    border: 2px solid #ffc400;
}

/* ============== contact style ============== */
.contact .info-box {
    width: 100%;
    padding: 20px;
    color: #444444;
    background: rgba(255, 255, 255, 0.08);
}

.contact .email {
    color: white !important;
}

.contact .email:hover {
    color: #ffd900 !important;
}

.contact .resize-disable {
    resize: none;
}

.contact .info-box i.bx {
    float: left;
    padding: 14px;
    font-size: 24px;
    color: #ffd900;
    border-radius: 50%;
    background: rgba(255, 255, 255, 0.1);
}

.contact .info-box h3 {
    font-size: 20px;
    font-weight: 700;
    margin: 10px 0 8px 68px;
    color: rgba(255, 255, 255, 0.5);
}

.contact .info-box p {
    padding: 0;
    color: #fff;
    font-size: 14px;
    line-height: 24px;
    margin: 0 0 0 68px;
}

.contact .info-box .social-links {
    display: flex;
    margin: 5px 0 0 68px;
}

.contact .info-box .social-links a {
    color: #fff;
    line-height: 1;
    font-size: 18px;
    transition: 0.3s;
    margin-right: 12px;
    display: inline-block;
}

.contact .info-box .social-links a:hover {
    color: #ffd900;
}

.contact .msg-from {
    padding: 30px;
    background: rgba(255, 255, 255, 0.08);
}

.contact .msg-from .error-message {
    padding: 15px;
    font-weight: 600;
    text-align: center;
    background: #a02f10;
    background: rgba(255, 255, 255, 0.08);
}

.contact .msg-from .error-message br + br {
    margin-top: 25px;
}

.contact .msg-from .sent-message {
    padding: 15px;
    font-weight: 600;
    text-align: center;
    background: #665700;
    background: rgba(255, 255, 255, 0.08);
}

.contact .msg-from .loading {
    padding: 15px;
    text-align: center;
    background: rgba(255, 255, 255, 0.08);
}

.contact .msg-from .loading:before {
    content: "";
    width: 24px;
    height: 24px;
    border-radius: 50%;
    margin: 0 10px -6px 0;
    display: inline-block;
    border-top-color: #eee;
    border: 3px solid #ffd900;
    animation: animate-loading 1s linear infinite;
    -webkit-animation: animate-loading 1s linear infinite;
}

.contact .msg-from input, .contact .msg-from .msg-textarea {
    border: 0;
    color: #fff;
    font-size: 14px;
    border-radius: 0;
    transition: 0.3s;
    box-shadow: none;
    background: rgba(255, 255, 255, 0.08);
}

.contact .msg-from input:focus, .contact .msg-from .msg-textarea:focus {
    background-color: rgba(255, 255, 255, 0.11);
}

.contact .msg-from input::-moz-placeholder, .contact .msg-from .msg-textarea::-moz-placeholder {
    color: rgba(255, 255, 255, 0.3);
    opacity: 1;
}

.contact .msg-from input::placeholder, .contact .msg-from .msg-textarea::placeholder {
    color: rgba(255, 255, 255, 0.3);
    opacity: 1;
}

.contact .msg-from input {
    padding: 10px 15px;
}

.contact .msg-from .msg-textarea {
    padding: 12px 15px;
} 

.contact .websiteIN {
	display: none;
}

.contact .msg-from button[type=submit] {
    border: 0;
    color: #fff;
    transition: 0.4s;
    padding: 10px 30px;
    border-radius: 4px;
    background: #665700;
}

.contact .msg-from button[type=submit]:hover {
    background: #927d06;
}

.contact input:-webkit-autofill, 
.contact input:-webkit-autofill:hover, 
.contact input:-webkit-autofill:focus, 
.contact textarea:-webkit-autofill, 
.contact textarea:-webkit-autofill:hover, 
.contact textarea:-webkit-autofill:focus {
    background: rgba(255, 255, 255, 0.08) !important;
    color: white !important;
    -webkit-text-fill-color: white !important;
    transition: background-color 5000s ease-in-out 0s;
}
