<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta http-equiv="X-UA-Compatible" content="ie=edge">
	<link rel="icon" href="/build/img/favicon.png" type="image/x-icon"/>
	<link rel="stylesheet" type="text/css" href="/build/vendor/bootstrap/4.0.0/css/bootstrap.min.css">
	<link rel="stylesheet" type="text/css" href="/build/css/admin.css">
	<script type="text/javascript" src="/build/vendor/jquery/jquery-3.6.0.min.js"></script>
	<link rel="stylesheet" href="/build/vendor/fontawesome/fontawesome.min.css">

    <link href="/build/vendor/lightgallery/css/lightgallery.css" rel="stylesheet">
    <link href="/build/vendor/lightgallery/css/lg-transitions.css" rel="stylesheet">

	<title>URL | Admin</title>
</head>
<body>
    <main class="admin-page"> 
        <div class="wrapper">
            {% block wrapper %}{% endblock %}
        </div>
    </main>

    <script>
        document.body.style.zoom = "80%";
    </script>
<script type="text/javascript" src="/build/vendor/bootstrap/4.0.0/js/bootstrap.min.js"></script>
<script type="text/javascript" src="/build/vendor/bootstrap/4.0.0/js/bootstrap.bundle.min.js"></script>
</body>
</html>