<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta http-equiv="X-UA-Compatible" content="ie=edge">
	<link rel="icon" href="/assets/img/favicon.png" type="image/x-icon"/>
	<script type="text/javascript" src="/assets/vendor/jquery/jquery-3.6.0.min.js"></script>
    <link rel="stylesheet" type="text/css" href="/assets/css/scrollbar.css"> 
	<link rel="stylesheet" type="text/css" href="/assets/vendor/bootstrap/4.0.0/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="/assets/css/admin.css">
    <link rel="stylesheet" type="text/css" href="/assets/vendor/fontawesome/fontawesome.min.css">
    <link rel="stylesheet" type="text/css" href="/assets/vendor/lightgallery/css/lightgallery.css">
	<link rel="stylesheet" type="text/css" href="/assets/css/assets/vendor/lightgallery/css/lg-transitions.css">	
	<title>Admin | Dashboard</title>
</head>
<body>
<main class="admin-page"> 
    <div class="wrapper">
        <div class="section">
            {% include 'admin/elements/top-panel.html.twig' %}
            {% include 'admin/elements/sidebar.html.twig' %}

            {% block component %}{% endblock %}

            {% if is_mobile %}
                <script>
                    document.querySelector("body").classList.toggle("active");
                    var hamburger = document.querySelector(".hamburger");
                    hamburger.addEventListener("click", function() {
                        document.querySelector("body").classList.toggle("active");
                    })
                </script>
            {% else %}
                {% if is_dashboard == false %}
                    <script>
                        document.querySelector("body").classList.toggle("active");
                        var hamburger = document.querySelector(".hamburger");
                        hamburger.addEventListener("click", function() {
                            document.querySelector("body").classList.toggle("active");
                        })
                    </script>
                {% endif %}
            {% endif %}
        </div>
    </div>
</main>
<script type="text/javascript" src="/assets/vendor/bootstrap/4.0.0/js/bootstrap.min.js"></script>
<script type="text/javascript" src="/assets/vendor/bootstrap/4.0.0/js/bootstrap.bundle.min.js"></script>
</body>
</html>
