<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta http-equiv="X-UA-Compatible" content="ie=edge">
	<link rel="icon" href="/assets/img/favicon.png" type="image/x-icon"/>
	<link rel="stylesheet" type="text/css" href="/assets/vendor/bootstrap/4.0.0/css/bootstrap.min.css">
	<link rel="stylesheet" type="text/css" href="/assets/css/admin.css">
	<title>Admin | Login</title>
</head>
<body>
    <main class="admin-page"> 
        <div class="wrapper">
				{% block component %}{% endblock %}
        </div>
    </main>
</body>
</html>
