<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}{% endblock %}</title>
    <link rel="stylesheet" type="text/css" href="/assets/css/scrollbar.css">
    <link rel="stylesheet" type="text/css" href="/assets/css/error-page.css">
	<link rel="icon" type="image/x-icon" href="/assets/img/favicon.png"/>
</head>
<body>
    {% block body %}{% endblock %}
    <!-- init fluid animation -->
    <canvas></canvas>
    <script src="/assets/js/fluid-animation.js"></script>
</body>
<body> 
</body>
</html>
