<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}{% endblock %}</title>
    <link href="/assets/css/error-page.css" rel="stylesheet">
	<link rel="icon" href="/assets/img/favicon.png" type="image/x-icon"/>
</head>
<body>
    {% block body %}{% endblock %}
    <!-- init fluid animation -->
    <canvas></canvas>
    <script src="/assets/js/fluid-animation.js"></script>
</body>
<body> 
</body>
</html>
