<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
    <link href="/build/img/favicon.png" rel="icon">
    <link href="/build/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <link href="/build/vendor/bootstrap-icons/bootstrap-icons.css" rel="stylesheet">
    <link href="/build/vendor/boxicons/css/boxicons.min.css" rel="stylesheet">
    <link href="/build/vendor/remixicon/remixicon.css" rel="stylesheet">
    <link href="/build/css/public.css" rel="stylesheet">
    <meta content="Lukáš Bečvář AKA Lordbecvold personal website" name="description">
    <meta content="developer, lordbecvold, php, web, website, programator, css, designer, java, coder, projects, lukas, becvar, lukasbecvar, lukas becvar, lukáš bečvář, lukáš, bečvář" name="keywords">
	<title>Lukáš Bečvář</title>
</head>
<body>
    {% block body %}{% endblock %}
    <script src="/build/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
    <script src="/build/vendor/jquery/jquery-3.6.0.min.js"></script>
    <script src="/build/js/public.js"></script> 
</body>
</html>