<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
    <meta content="Lukáš Bečvář AKA Lordbecvold personal website" name="description">
    <meta content="developer, lordbecvold, php, web, website, programator, css, designer, java, coder, projects, lukas, becvar, lukasbecvar, lukas becvar, lukáš bečvář, lukáš, bečvář" name="keywords">
    <link rel="icon" href="/assets/img/favicon.png">
    <link rel="stylesheet" type="text/css" href="/assets/css/scrollbar.css">
    <link rel="stylesheet" href="/assets/vendor/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="/assets/vendor/bootstrap-icons/bootstrap-icons.css">
    <link rel="stylesheet" href="/assets/vendor/boxicons/css/boxicons.min.css">
    <link rel="stylesheet" href="/assets/vendor/remixicon/remixicon.css">
    <link rel="stylesheet" href="/assets/css/public.css">
	<title>Lukáš Bečvář</title>
</head>
<body>
    <header id="header" class={% block header_class %}{% endblock %}>
        {% include "public/elements/navigation.html.twig" %}
    </header>
    {% block body %}{% endblock %}
    <script src="/assets/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
    <script src="/assets/vendor/jquery/jquery-3.6.0.min.js"></script>
    <script src="/assets/js/public.js"></script> 
</body>
</html>