<div class="sidebar">
    <div class="profile">
        <img src="data:image/jpeg;base64,{{ user_pic|e }}" alt="profile_picture">
        <h3>{{ user_name|e }}</h3>
        <span class="role-line">
			{% if user_role == 'owner' %}
				<span class="text-red">{{ user_role|e }}</span>
			{% else %}
				{{ user_role|e }}
			{% endif %}
		</span>
    </div>
    <ul>
        <li>
            <a class="s-menu-button" target="_blank" href="/">
                <span class="icon"><i class="fas fa-globe"></i></span>
                <span class="item">Main site</span>
            </a>
        </li>
        <li>
            <a class="s-menu-button" target="_blank" href="/adminer/adminer.php">
				<span class="icon"><i class="fas fa-user"></i></span>
				<span class="item">Adminer</span>
			</a>
        </li>
        <li>
            <a class="s-menu-button" href="/admin/dashboard">
				<span class="icon"><i class="fas fa-desktop"></i></span>
				<span class="item">Dashboard</span>
			</a>
		</li>
        <li>
		    <a class="s-menu-button" href="/admin/database">
				<span class="icon"><i class="fas fa-database"></i></span>
				<span class="item">Database</span>
			</a>
		</li>
        <li>
			<a class="s-menu-button" href="/admin/logs?page=1">
			    <span class="icon"><i class="fas fa-file"></i></span>
			    <span class="item">Logs</span>
	    	</a>
		</li>
		<li>
			<a class="s-menu-button" href="/admin/visitors?page=1">
			    <span class="icon"><i class="fas fa-user"></i></span>
			    <span class="item">Visitors manager</span>
	    	</a>
		</li>
        <li>
			<a class="s-menu-button" href="/admin/media/browser?page=1">
	    		<span class="icon"><i class="fas fa-image"></i></span>
				<span class="item">Image Browser</span>
			</a>
        </li>
        <li>
			<a class="s-menu-button" href="/admin/inbox?page=1">
				<span class="icon"><i class="fas fa-envelope"></i></span>
				<span class="item">Inbox</span>
			</a>
		</li>
        <li>
			<a class="s-menu-button" href="/admin/todos">
				<span class="icon"><i class="fas fa-tasks"></i></span>
				<span class="item">Todos</span>
			</a>
		</li>	
        <li>
			<a class="s-menu-button" href="/admin/diagnostic">
				<span class="icon"><i class="fas fa-check"></i></span>
				<span class="item">Diagnostics</span>
			</a>
		</li>
		<li>
			<a class="s-menu-button" href="/admin/account/settings">
	    		<span class="icon"><i class="fas fa-user-cog"></i></span>
				<span class="item">Account settings</span>
			</a>
		</li>
	</ul>
</div>
