<div class="sidebar">
    <div class="profile">
        <img src="data:image/jpeg;base64,{{user_pic}}" alt="profile_picture">
        <h3>{{user_name}}</h3>
        <p>{{user_role}}</p>
    </div>
    <ul>
        <li>
            <a class="s-menu-button" target="_blank" href="/">
                <span class="icon"><i class="fas fa-globe"></i></span>
                <span class="item">Main site</span>
            </a>
        </li>
        <li>
            <a class="s-menu-button" target="_blank" href="/adminer/adminer.php">
				<span class="icon"><i class="fas fa-user"></i></span>
				<span class="item">Adminer</span>
			</a>
        </li>
        <li>
            <a class="s-menu-button" href="/admin/dashboard">
				<span class="icon"><i class="fas fa-desktop"></i></span>
				<span class="item">Dashboard</span>
			</a>
		</li>
        <li>
		    <a class="s-menu-button" href="/admin/database">
				<span class="icon"><i class="fas fa-database"></i></span>
				<span class="item">Database</span>
			</a>
		</li>
        <li>
			<a class="s-menu-button" href="/admin/logs/1">
			    <span class="icon"><i class="fas fa-file"></i></span>
			    <span class="item">Logs</span>
	    	</a>
		</li>
		<li>
			<a class="s-menu-button" href="/admin/visitors/1">
			    <span class="icon"><i class="fas fa-user"></i></span>
			    <span class="item">Visitors manager</span>
	    	</a>
		</li>
        <li>
			<a class="s-menu-button" href="/admin/media/browser/1">
	    		<span class="icon"><i class="fas fa-image"></i></span>
				<span class="item">Image Browser</span>
			</a>
        </li>
        <li>
			<a class="s-menu-button" href="/admin/inbox/1">
				<span class="icon"><i class="fas fa-envelope"></i></span>
				<span class="item">Inbox</span>
			</a>
		</li>
        <li>
			<a class="s-menu-button" href="/admin/todos">
				<span class="icon"><i class="fas fa-tasks"></i></span>
				<span class="item">Todos</span>
			</a>
		</li>	
        <li>
			<a class="s-menu-button" href="#">
				<span class="icon"><i class="fa fa-check"></i></span>
				<span class="item">Diagnostics</span>
			</a>
		</li>
		<li>
			<a class="s-menu-button" href="#">
	    		<span class="icon"><i class="fas fa-user-cog"></i></span>
				<span class="item">Account settings</span>
			</a>
		</li>
	</ul>
</div>
