<div class="top-navbar">
    <div class="hamburger">
        <a href="#"><span class="menu-text">Menu</span><i class="fas fa-bars"></i></a>
        <a class="logout-link" href="/logout"><i class="fas fa-sign-out-alt"></i></a>
    </div>
</div>